<body style="font-family: Arial,sans-serif;text-align: left;">
  <div class="section1">
    <div class="container" style="max-width: 640px;margin: auto;">
      <img style="display: block; margin: auto; padding-top: 25px;" src="https://s3.eu-central-1.amazonaws.com/oywuploads/newsletter-logo.png" alt="On Your Way"/>
    </div>
  </div>
  <div class="section2">
    <div class="container messege-block" style="max-width: 640px;margin: auto; text-align:center;">
      <h3 style="text-align: center; color: #6e6e6e; padding-top: 10px; padding-bottom: 7px; font-size: 18.31px; FaricyNew-Bold; margin-bottom: 0;">Great news!</h3>
      <p class="account-messages" style="color:#11e9de; font-size: 18.31px; margin-top: 0; text-align: center;">Your delivery offer has been accepted.</p>
      <p style="text-align: center;color: #969696;font-size: 15.69px;"><%= @shoper_name %> has already pre-paid for the item. We will hold this deposit for you until the delivery is confirmed. To confirm the delivery, please, input the 6 digit code confirmation code that  <%= @shoper_name %> will hand to you upon delivery.</p>

      <p style="text-align: center;color: #969696;font-size: 15.69px;">Happy Travels!</p>

      <a href='https://www.onyourway.io' style="width: 400px; height: 45px; line-height:45px; text-decoration:none; display:inline-block; border-radius: 10px; background: #11e9de; color: #fff; font-size: 20px; margin:35px 0; border: none; padding:10px; cursor: pointer;" type="button"        class="message-button1">SIGN IN TO INPUT THE CODE</a>
    </div>
  </div>
  <div class="section3">
    <div class="container" style="max-width: 640px;margin: auto;">
      <p class="info-details" style="font-size: 8.6px; color: #646464; display:block; margin-bottom: 10px; text-align:center">On Your Way SAS / 12 Masseran st., Paris / 75007 / France Tel: +33678124124 /
        <a href="mailTo:support@oyw.com" style="color: gray;">support@onyourway.io</a>
      </p>
    </div>
  </div>

  <div class="section4">
    <div class="container" style="max-width: 640px;margin: auto;">
      <footer>
        <div class="orange" style="height: 15px;background-color: #fde53a;"></div>
        <div class="blue" style="height: 30px;background-color: #10e8dd;"></div>
      </footer>
    </div>
  </div>
</body>
