<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body style="font-family: Arial,sans-serif;text-align: left;">
    <div class="section1">
      <div class="container" style="max-width: 640px;margin: auto;">
        <img style="display: block; margin: auto; padding-top: 25px;"
          src="https://s3.eu-central-1.amazonaws.com/oywuploads/newsletter-logo.png" alt="On Your Way"/>
      </div>
    </div>
    <div class="section2">
      <div class="container messege-block" style="max-width: 640px;margin: auto; text-align:center;">
        <h3 style="text-align: center; color: #6e6e6e; padding-top: 10px; padding-bottom: 7px; font-size: 18.31px; FaricyNew-Bold; margin-bottom: 0;">You've got</h3>
        <p class="account-messages" style="color:#11e9de; font-size: 18.31px; margin-top: 0; text-align: center;">1 new message</p>
        <p style="text-align: center;color: #969696;font-size: 15.69px;">Aliquam eu nisl ut nulla condimentum luctus quis eget mi. Curabitur mattis suscipit dolor eu pulvinar. Nulla euismod orci id urna rhoncus blandit. Aliquam a ultrices augue.</p>
        <!-- <p style="text-align: left;color: #969696;font-size: 15.69px;">As a gift to our early adopters (that's you!), we will waive our fees on all transactions during the prelaunch period - which amounts to savings of close to 10% on your item requests.</p>
        <p style="text-align: left;color: #969696;font-size: 15.69px;">We'll also take this chance to remind you that posting an item request is totally free and doesn't commit you to anything.</p>
        <p style="text-align: left;color: #969696;font-size: 15.69px;">So you know what to do if you've been missing that lavash that tastes just like home or eager to finally test the ArmPhone !</p> -->

      <button onmouseover="this.style.backgroundColor='#adadad';" onmouseout="this.style.backgroundColor='#11e9de';" onclick="window.location.href='https://shopnship.herokuapp.com'" style="width: 400px; height: 65px; border-radius: 10px; background: #11e9de; color: #fff; font-size: 20px; margin:55px 0; border: none; padding:10px; cursor: pointer;" type="button" class="message-button1" name="button">SIGN IN TO SEE THE MESSAGE</button>
      </div>
    </div>
    <div class="section3">
      <div class="container" style="max-width: 640px;margin: auto;">
        <h5 style="color: #969696;font-size: 10px;text-align: center; font-family: FaricyNew-Regular;">No longer want to receive these emails? You can unsubscribe
          <a href="#" style="color: #969696;">here.</a>
        </h5>
        <p class="info-details" style="font-size: 8.6px; color: #646464; display:block; margin-bottom: 10px; text-align:center">On Your Way SAS / 12 Masseran st., Paris / 75007 / France Tel: +33678124124 /
          <a href="mailTo:support@oyw.com" style="color: gray;">support@onyourway.io</a>
        </p>
      </div>
    </div>

    <div class="section4">
      <div class="container" style="max-width: 640px;margin: auto;">
        <footer>
          <div class="orange" style="height: 15px;background-color: #fde53a;"></div>
          <div class="blue" style="height: 30px;background-color: #10e8dd;"></div>
        </footer>
      </div>
    </div>
  </body>
</html>
