<body style="font-family: Arial,sans-serif;text-align: left;">
  <div class="section1">
    <div class="container" style="max-width: 640px;margin: auto;">
      <img style="display: block; margin: auto; padding-top: 25px;"
        src="https://s3.eu-central-1.amazonaws.com/oywuploads/newsletter-logo.png" alt="On Your Way"/>
    </div>
  </div>
  <div class="section2">
    <div class="container" style="max-width: 640px;margin: auto;">
      <h3 style="text-align: center; color: #6e6e6e; padding-top: 10px; padding-bottom: 7px; font-size: 18.31px;">Thanks for<br>SUBSCRIBING</h3>
      <p style="text-align: left;color: #969696;font-size: 15.69px;">Dear <%= @first_name %>,</p>
      <p style="text-align: left;color: #969696;font-size: 15.69px;">Welcome to On Your Way's travel community!</p>
      <p style="text-align: left;color: #969696;font-size: 15.69px;">Enjoy your borderless shopping and be in touch with us for whatever questions you might have!</p>
      <p style="text-align: left;color: #969696;font-size: 15.69px;">Please activate your account by following this link: <a href="https://shopnship.herokuapp.com/activate?code=<%= @activtion_code %>">https://shopnship.herokuapp.com/activate?code=<%= @activtion_code %></a>
      </p>
      <p style="text-align: left;color: #969696;font-size: 15.69px;">Cheers,</p>
      <p style="text-align: left;color: #969696;font-size: 15.69px;">Mane
        <br>CEO at ON YOUR WAY.</p>
    </div>
  </div>

  <div class="section3">
    <div class="container" style="max-width: 640px;margin: auto;">
      <p class="info-details" style="font-size: 8.6px; color: #646464; display:block; margin-bottom: 10px; text-align:center">On Your Way SAS, 12 Masseran st., Paris, 75007, France Tel: +33678124124 /
        <a href="mailTo:support@oyw.com" style="color: gray;">support@onyourway.io</a>
      </p>
    </div>
  </div>

  <div class="section4">
    <div class="container" style="max-width: 640px;margin: auto;">
      <footer>
        <div class="orange" style="height: 15px;background-color: #fde53a;"></div>
        <div class="blue" style="height: 30px;background-color: #10e8dd;"></div>
      </footer>
    </div>
  </div>
</body>
