<!-- Page Content -->
<div class="narrow-banner ng-scope">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <h1><b>FREQUENTLY</b> ASKED <b>QUESTIONS</b></h1>
      </div>
    </div>
  </div>
</div>

<div class="container text-center faq-block result-block">
  <div class="row">
    <div class="col-md-12">
      <div class="row padding-top">
        <div class="col-md-offset-1 col-md-10 text-center">
          <h5>I SHOP</h5>
          <p>
            - Can I order anything I want?
            <br> You can order anything that is legal.
          </p>
          <p>
            -Do I have any obligations when placing an order?
            <br> None whatsoever. You don’t need to pay for anything before you’ve found a traveller that matches your expectations.
          </p>
          <p>
            -Do I have to accept the offers I receive? <br>
Not at all. You can reject offers if they don’t meet your needs.
          </p>
          <p>
            - Can I buy my item online and ship it to the travellers address, asking him/her to bring it along? <br>
No, travelers are required to make purchases themselves. Only in that case On Your Way can guarantee that your item will reach you, and that you will receive a refund in case the traveler cancels his trip.
          </p>
          <p>
            -How and when do I pay? <br>
You can pay using your bank card. You will be asked to pay when you accept an offer from a traveler. However, On Your Way will not transfer  this money to the traveler till the item is securely delivered to you. In case of a cancellation from the side of the traveler, you will be refunded in full, including service fees.
          </p>
          <p>
            -What is the code that you sent me after I’ve accepted a delivery offer? <br>
This is a code that you will need to give to the traveler when you meet him/her to pick up your item.  Handing over this code means that you’ve received your item. Do not communicate this code before you get your order.
          </p>
          <p>
            -What happens if the item I’ve ordered is damaged? <br>
You should get in touch with our team on support@oyw.io. We resolve such issues on the case-by-case bases and in most cases you will be refunded in full.
          </p>
          <p>
            -What happens if my order wasn’t delivered? <br>
            You will be refunded in full, including the service fee.
          </p>
          <p>
            -What is the service fee of OYW? <br>
            7% of the purchase amount and traveller reward + €1,99 fixed on each order.
          </p>
          <p>
            -Can I cancel my order? <br>
            You can cancel your order anytime before you accept an offer from a traveler.
          </p>
          <p>
            If you want to cancel an order after you’ve accepted a delivery offer and prepaid the deposit, you need to contact the traveler through the inbuilt messenger asking him if he’s already purchased the item and if he would accept cancelling the transaction. If the traveller agrees, he can cancel the transaction, and you will be refunded in full. If the traveller refuses, the delivery will take place as agreed initially.
          </p><br>
          <h5>I TRAVEL</h5>
          <p>
            - I searched through the active orders but there was none matching my trip route, what can I do? <br>
You can enter your travel route and we’ll send you notifications each time there is  an item posted that matches your trip.
          </p>
          <p>
            -I have to pay upfront to purchase the goods. How can I be sure that the buyer will not cancel the order or refuse to pay? <br>
That’s the best part: the algorithm of the platform is designed in a way to protect the best interest of all our community members! When the buyer accepts your offer, he/she will be asked to deposit the whole sum to the website account. Only after this we will notify you asking to proceed with the purchase. We will hold the deposit money securely, until you’ve delivered the item. Once we get the confirmation of delivery (10-digit code), we will proceed with transferring you the money.
          </p>
          <p>
            -How and when do I get paid? <br>
            You will get paid as soon as you enter the 10-digit code that the buyer handed you upon the delivery of the item.
            If your bank account is in any of the EU countries, you will get paid by a direct bank transfer. If your bank account is in Armenia, you will get paid through our partner MobiDram. If your bank account is located elsewhere, we will wire you the money through Paypal.
          </p>
          <p>
            -I don’t have a Paypal account, how do I proceed?<br>
It is not a problem if you don’t have a Paypal account. We will send the money using the email address of your account and you will receive an email from Paypal with an instruction on how to withdraw your money from Paypal account to your Bank account.
          </p>
          <p>
            -What if the buyer wants to cancel transaction?<br>
After the buyer places the deposit, he/she will not be able to cancel the transaction. This is to protect the traveller against any last minute cancellations, especially after the requested item has been purchased.
However, the buyer may communicate to you (i.e. the traveller) that he/she wishes for the transaction to be cancelled.
If the item has yet to be purchased, and if you don’t mind cancelling the request, please click on the 'Cancel' button on the top right corner of the request page.
When you buy the item and upload the bills, you will no longer be able to cancel the transaction. If for any reason, you’d like to cancel it, please, get in touch with our support team.
          </p>
          <p>
            - Where do I deliver the item?<br>
You’ve got complete freedom to decide! It can be at the airport or downtown - anywhere that suits both you and the buyer.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- /.container -->
