<!-- Page Content -->
<div class="about_us">
  <!-- //<img src="images/about_us.png" alt="" /> -->
  <div class="about_start ng-scope">
    <div class="">
      <div class="col-md-12">
        <div class="text-center">
          <h1><b>ABOUT </b>US</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container result-block conditions-block">
    <div class="row">
      <div class="col-md-12">
        <div class="row main-margin-block text_about">
          <div class="col-md-offset-1 col-md-12 ">
            <div class="conditions-head main-conditions-head ">
            <h2>WE DON'T  HAVE A MISSION,</h2>
            <h3>We don't really want to change the world.</h3>

            </div>

            <p>
              Let's think for one second:how many companies can change the world?
              <br> If one reads the mission or vision statements(what was the difference, again?) of the thousands of start-ups created every month, the world should be unrecognizable in a few years, as every problem ever identified(and countless other things that we didn't know were problem) will be solved.
            </p>
            <br>
            <p>
              So, the market for world disruption seems saturated to us. We're content right now with leaving it to the tech giants. Don't worry, we'll change once we've become one of them.
            </p>
            <h3>We do hope to change the world atiny bit for our users.</h3>
              <p>All of us here at On Your Way  have spent about as much time in our respective countries of origin as outside it. So, we do know for a fact that many people could use what we offer: a way to not feel like they missed an opportunity when buying standardized products that hoppen to be much cheaper in other countries.
                <br>A few exaples:

            </p>
            <p>-In 2016, the exact same iPhone 6s cost over $1,000 in Turkey versus $ 600 in the US;
            </p>
           <p>
              - In Paaris, where we are based, hundreds of Koreans each day go to a specific pharmacy (which is, we are told, mentioned in every Korean guidebook) to buy cosmetics that cost half as much as in Seoul;
           </p>
           <p>
             - One of us was living in Russia when the currency collapsed at the end of 2014. Imported products became about 40% cheaper that world market prices, allowing the fancy residents of Moscow to buy Cartier jewelry for half of its usual price.
           </p>
           <p>
             Clearly, something could be done to make shopping more fair.
             <br>As you have understood by now, that's the gap we aim to fill. It comes with a little bonus, too: you get to meet awesome people all along the way!
           </p>

            <h5>Mane</h5>
            <i>Head of everything</i>
            <p>
              <strong>What she likes to get from visitors: </strong> anything eatable, really. It doesn't have to be very good.
              <br><strong>What she likes to bring when she goes abroad: </strong> cosmetics. Only realized how big a deal French cosmetics were when she moved to Paris.
            </p>
            <h5>Bastien</h5>
            <i>Head of less things</i>
            <p>
              <strong>What he likes to get from visitors: </strong> fancy books, especially if they are in languages he doesn't understand.
              <br><strong>What he likes to bring when she going abroad: </strong> wine end saucisson (look it up!)
            </p>
            <span class="condition-padding row"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>



<!-- /.container -->
