<div class="profile-body text-center">
  			<div class="col-md-4">
  				<p class="lead text-center">Travels you have proposed</p>
			    <table class="table">

			      <thead>

			        <th class="home-table-th text-center">From</th>
			        <th class="home-table-th text-center">To</th>
			        <th class="home-table-th text-center">When</th>

			      </thead>


			      <tbody>

			        <tr ng-repeat="shipment in local.shipments" class="clickableRow">

			          <td class="home-table-th text-center" valign="middle" ng-click="local.data_to_show = shipment">{{shipment.from}}</th>
			          <td class="home-table-th text-center" valign="middle" ng-click="local.data_to_show = shipment">{{shipment.to}}</th>
			          <td class="home-table-th text-center" valign="middle" ng-click="local.data_to_show = shipment">{{shipment.date | date : mediumDate}}</th>

			        </tr>

			      </tbody>

				</table>
             </div>
             <div class="col-md-8" ng-show="local.data_to_show">

             	<p class="lead text-center">Details and current state of your travel</p>

             	From {{local.data_to_show.from.join(", ")}} to {{local.data_to_show.to}} on the {{local.data_to_show.date | date : mediumDate}}
             	
             </div>             
</div>