<!-- Page Content -->
<div class="collapse">
  <div class="modal-dialog modal-md">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center contact_us">
          <h1>Contact US</h1>
        </div>
      </div>
    </div>

  <div class="result-block conditions-block contact_main  ">
    <div class="row">
      <div class="col-md-12">
        <div class="">
          <div class="col-md-offset-1 col-md-12">
            <div class="text-center contact_text">
              <h1>HELLO?</h1>
              <h2> We are here to answer you! Get in touch by writing to <a ng-click="" >support@onyourway.io </a> or using the form below</h2>
            </div>
            <div class="pay-pal-account" ng-show="inherit.user.is_spa">
              <p class="account-bank-info">Name</p>
              <input type="text" size="20" class="form-control" ng-model="inherit.user.contact_name" required/>
              <p class="account-bank">E-mail</p>
              <input type="text" size="20" class="form-control" ng-model="inherit.user.contact_mail" required/>
              <p class="account-bank">Message</p>
              <textarea style="float:left;" type="text" size="20" class="form-control" ng-model="inherit.user.contact_message"></textarea>
              <button type="button" class="btn btn-default payout-btn btn_send" name="button" ng-click="send_contact_message()">Send</button>
              <button type="button" class="btn btn-default payout-btn" name="button" ng-click="cancel()">Cancel</button>
            </div>
            <span class="condition-padding row"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<!-- /.container -->
