<div class="narrow-banner-orders ng-scope">
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>
</div>

<div class="profile-body container-fluid orders-block text-center" resize>
  <div class="col-md-2">
    <ul class="left-bar orders-left-bar shipments-left-bar" ng-show="['profile', 'orders', 'shipments'].indexOf(inherit.currentState()) > -1">
      <li role="presentation" ng-class="{active:inherit.currentState() == 'profile'}"><a ng-click="inherit.goState('profile')">Profile</a></li>
      <li role="presentation" ng-class="{active:inherit.currentState() == 'orders'}"><a ng-click="inherit.goState('orders')">Orders</a></li>
      <li role="presentation" ng-class="{active:inherit.currentState() == 'shipments'}"><a ng-click="inherit.goState('shipments')">Travels</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <p class="lead text-center order-lead">Items you have ordered</p>
    <table class="table orders-table">
      <thead>
        <th class="order-table-th text-left">What</th>
        <th class="order-table-th text-left">From</th>
        <th class="order-table-th text-left">To</th>
      </thead>
      <tbody>
        <tr ng-repeat="order in local.orders" class="clickableRow ">
          <td class="home-table-th text-left" valign="middle" ng-click="setOrder(order)">{{order.item}}</th>
            <td class="home-table-th text-left" valign="middle" ng-click="setOrder(order)">{{order.from}}</th>
              <td class="home-table-th text-left" valign="middle" ng-click="setOrder(order)">{{order.to}}</th>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-6" ng-show="local.data_to_show && !local.conversation_shipment">

    <p class="lead text-center order-lead" ng-if="local.data_to_show.shipments.length > 0">Travels proposed for this order</p>
    <p class="lead text-center order-lead-small" ng-if="local.data_to_show.shipments.length == 0">No travel proposed for this order</p>

    <div ng-click="local.conversation_shipment = shipment" class="col-md-12 profile-travel offer-wrapper" ng-repeat="shipment in local.data_to_show.shipments| filter: { status: 'pending' }">

      <div class="col-md-2 img-col">
        <img style="width:85px;" class="profile-photo" ng-src="/images/nophoto.png" alt=""> {{shipment.user.first_name + ' ' + shipment.user.last_name.split('')[0]}}.
      </div>
      <div class="col-md-10">
        <div class="col-md-12" >
          <ul class="offer-details main-offer-details">
            <span class="">{{local.data_to_show.length}}</span>
            <li class="col-sm-4"><span>What:</span> {{local.data_to_show.item}}</li>
            <li class="col-sm-4"><span>To:</span> {{shipment.to}}</li>
            <li class="col-sm-4"><span>Date:</span> {{shipment.date | date : mediumDate}}</li>
          </ul>
          <p class="offer-text text-left">
            {{shipment.messages[0].text}}
          </p>
        </div>
      </div>
      <div class="col-md-12 offer-buttons main-offer-buttons">
        <button type="button" class="btn btn-default pull-right" ng-click="refuse_travel(local.data_to_show, shipment)">REJECT</button>
        <button style="border-color:none;" type="button" class="btn btn-default pull-right button-themed" ng-click="accept_travel(local.data_to_show, shipment)">ACCEPT</button>
      </div>
    </div>
  </div>

  <div class="col-md-6" ng-show="local.data_to_show && local.conversation_shipment">
    <div class="col-md-12">
      <table class="table" style="table-layout:fixed;">
        <tbody>
          <tr ng-repeat="message in local.conversation_shipment.messages">
            <td style='width:10%' class="home-table-th text-center" valign="middle"><img style='width:100%' class="profile-photo" ng-show="message.sender_id == inherit.user._id" ng-src="/images/nophoto.png" alt=""></td>
            <td style='width:80%' class="home-table-th text-center" valign="middle">{{message.text}}</td>
            <td style='width:10%' class="home-table-th text-center" valign="middle"><img style='width:100%' class="profile-photo" ng-show="message.sender_id != inherit.user._id" ng-src="/images/nophoto.png" alt=""></td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <tbody>
          <tr>
            <td style='width:90%' class="home-table-th text-center" valign="middle">
              <textarea name="content" type="text" class="form-control" ng-model="local.new_message.text"></textarea>
            </td>
            <td class="home-table-th text-center" valign="middle">
              <button type="button" class="btn btn-default pull-right" ng-click="sendMessage(local.data_to_show, local.conversation_shipment)"><i class="fa fa-send">
						          </td>
						        </tr>
					      </tbody>
					</table>
				</div>
				<div class="col-md-12">
					<table class="table">
				      <tbody>
				        <tr>
				          <td class="home-table-th text-center" valign="middle" ><b>From:</b> {{local.conversation_shipment.from}}</th>
				          <td class="home-table-th text-center" valign="middle"><b>To:</b> {{local.conversation_shipment.to}}</th>
				          <td class="home-table-th text-center" valign="middle"><b>Date:</b> {{local.conversation_shipment.date | date : mediumDate}}</th>
						  <td ng-show= "!(local.conversation_shipment.status == 'accepted')" class="home-table-th text-center" valign="middle "><button type="button" class="btn btn-default pull-right" ng-click="accept_travel(local.data_to_show, local.conversation_shipment)"><i class="fa fa-check"></i></button>
              </th>
              <td ng-show="!(local.conversation_shipment.status == 'accepted')" class="home-table-th text-center" valign="middle">
                <button type="button" class="btn btn-default pull-right" ng-click="refuse_travel(local.data_to_show, local.conversation_shipment)"><i class="fa fa-times"></i></button>
                </th>
                <td ng-show="local.conversation_shipment.status == 'accepted'" class="home-table-th text-center" valign="middle ">You have accepted this travel <i class="fa fa-thumbs-up" aria-hidden="true"></i> </th>
          </tr>

        </tbody>

      </table>

    </div>

  </div>
  <!-- 			    <table class="table">

			      <thead>

			        <th class="home-table-th text-center">From</th>
			        <th class="home-table-th text-center">To</th>
			        <th class="home-table-th text-center">When</th>
			        <th class="home-table-th text-center">Message</th>

			      </thead>


			      <tbody>

			        <tr ng-repeat="shipment in local.data_to_show.shipments" class="clickableRow">

			          <td class="home-table-th text-center" valign="middle" ng-click="local.data_to_show = shipment">{{shipment.from}}</th>
			          <td class="home-table-th text-center" valign="middle" ng-click="local.data_to_show = shipment">{{shipment.to}}</th>
			          <td class="home-table-th text-center" valign="middle" ng-click="local.data_to_show = shipment">{{shipment.date | date : mediumDate}}</th>
			          <td class="home-table-th text-center" valign="middle" ng-click="local.data_to_show = shipment">{{shipment.message}}</th>

			        </tr>

			      </tbody>

				</table> -->


</div>
<div class="clearfix">

</div>
