<!-- Page Content -->
<div class="narrow-banner conditions-banner ng-scope">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <h1><b>TERMS</b> AND <b>CONDITIONS</b></h1>
      </div>
    </div>
  </div>
</div>
<div class="container result-block conditions-block">
  <div class="row">
    <div class="col-md-12">
      <div class="row padding-top">
        <div class="col-md-offset-1 col-md-10r">
          <div class="text-center conditions-head">
            <h2>On Your Way SAS</h2>

              <strong>Limited Liability Company Registered Office: 12 rue Masseran, Paris <br>
                Terms and Conditions of oline Services
              </strong>

          </div>
          <i>Premable</i>
          <p>
            The terms and conditions of our online services are entered, on the one hand, between the company On Your Way SAS, whose headquarters are located at 12, Masseran St. in Paris and registered with the Trade and Companies Register
            of Paris, under the number 820757847, which is hereinafter referred to as "On Your Way" or the "The Company ".
            <br> and on the other hand,
            <br> any person intending to obtain a service through the Company website, who will hereafter be referred as the “Customer" or the “User". These provisions constitute a contractual agreement between the Customer and the Company.
          </p>
          <h5>1. Purpose</h5>
          <p>
            These sale conditions aim to define the contractual relationship between The Customer and On Your Way, the obligations of each party and the conditions applicable to any service provided on this site. The obtainment of any connection-making service provided
            by Company through this site is dependent upon an unequivocal and unconditional acceptance by the Customer to these conditions. This acceptance is deemed to begin once The Customer clicks on the checkbox titled "I accept the terms and conditions
            of On Your Way" prior to the delivery of any service. These Terms and Conditions will take precedence over any other general or special conditions not specifically approved by On Your Way. On Your Way reserves the right to amend or alter these
            Terms of Service at any time, upon which, those modified conditions will be approved by the Customer upon the purchase of a service and following receipt of the Terms and Conditions by email as a PDF document, which is downloadable via a link
            in the account activation email.
          </p>
          <h5>2. USE OF THE SITE</h5>
          <i>Accessing the contents</i>
          <p>
            The User may freely access the data contained on the Site, subject to compliance with the intellectual property rights as defined below. Whenever possible, data will be updated by the Company periodically. Errors, inaccuracies or omissions may occur along
            with connection problems or connection interruptions. The Company disclaims any responsibility to that respect. Upon creating an account, the User agrees to provide accurate and non-fraudulent information. The Company reserves the right to
            close the account of any User who does not comply with these Terms and expel any User whose conduct on the Site is fraudulent, immoral or disturbs the smooth running of the platform and connection to it by other users; or that causes damage
            to the Company and/or to other Users.
          </p>
          <h5>3. Description of services offered</h5>
          <p>
            On Your Way is a company that offers a connection-making service, through its web platform, for two categories of people: one, a traveler who (whatever their mode of transportation may be) is moving, or planning to move from point A to point B and, two,
            a buyer who would like to buy one or more tangible items and who would like to transport it/them from point A to point B. The On Your Way web platform displays online ads created by buyers. These advertisements mainly include the destination,
            the desired closing date, a description of the item, the price of the item, the price that the buyer is willing to pay for goods’ transportation, along with any other relevant information. The publication of an advertisement is free of charge
            and subjected to the conditions below. In order to benefit from the services offered through the web platform, Customer must register on the site by filling out a form detailing their personal information for this purpose. Registration is
            confirmed by clicking on the activation link, which was sent to the associated email address. Registration is open to any adult over the age of 18 who has the capacity to enter into contract. All information contained in ads is verified by
            The Company staff prior to publication. However, although the verification is carried on a formal level, following an obligation of means, On Your Way cannot be held liable for any purposefully, or erroneously, false or misleading information
            given by a The Customer who agrees, where applicable, to his/her responsibilities vis-à-vis the Company and any third parties.
            <br> When a traveller is interested in an advertisement, he/she may initiate contact via inbuilt messenger in order to agree upon logistical arrangements. Upon agreement of terms and arrangements, the two parties, via the web platform, confirm
            that the transaction will take place in compliance with the logistical arrangements made between them. The buyer shall pay the amounts due (price of the item and traveller’s reward) in accordance with the policies of Article 5 of the Terms
            of Service. Once payment is made, the traveller will receive a message in their On Your Way inbox containing a unique 10-digit code which was automatically generated by On Your Way. The code will be used later to verify the delivery between
            buyer and the traveler. The traveler will receive a random portion of the code (3 digits). At the time of delivery, the sender will relay the entire code to the traveler. The traveler must then enter the code onto The Company web platform,
            thereby verifying that the shipment was received and correct. The traveler takes all responsibility for litigation if they agree to process a shipment without receiving a code or verifying its authenticity.
          </p>
          <h5>3. Responsibility of The Company and limitation of liability</h5>
          <p>
            The Company is not involved in any way with the contractual relationship between the Users of its website, instead limiting itself to the pairing, through remuneration, of a buyer of one or more objects and a traveler. The Company functions as a support
            to the meeting/exchange of Users and will not in any way interfere with the transaction, for which it cannot be held responsible and the outcome of which it does not guarantee to go satisfactorily or otherwise. The amount paid by the buyer
            to the traveler corresponds to a nonprofessional and one-time agreement that both parties agree will be made through the payment platform found on the web platform. Notwithstanding the above, The Company reserves the right to provide additional
            services in order to facilitate the implementation and execution of shipping, payment and delivery. Furthermore, The Company will, within its legal limits, verify that the information published in advertisements is correct, not misleading
            to its Users, legal, and the property referred to therein is entitled to the poster, whose legal ownership of the item is uncontested. The descriptions and photographs requested in the ads will be as accurate as possible. On Your Way strives
            to make sure that compliance to this request is optimal. However, the company cannot guarantee full compliance with the ads, especially if noncompliance is due solely to error of a User or in bad faith on behalf of a User. The Company also
            takes on the responsibility of ensuring this information respects all copyright and intellectual property laws, and, more generally, the rights of third parties. Finally, The Company also provides Users with information that will enable them
            to comply with legal regulations, custom duties and applicable taxes. However, the assistance offered by On Your Way is supplementary and given in order to benefit The Customers. At no time does The Company intervene in the contractual process
            between buyer and traveler, both of whom, in tandem, define the arrangements and specifications of their transaction. If the traveler discovers the presence of illegal content, he/she must notify On Your Way through email support@oyw.io. On
            Your Way will take all appropriate measures once it has been alerted of fraudulent behavior or contested property.
          </p>
          <h5>4. Applicable Fees</h5>
          <p>
            The total amounts payable on the site are expressed in Euro (EUR). The total amounts include the following: - Price of the item the Buyer desires to purchase, including taxes. - The reward offered to the traveller for buying and transporting an item.
            This amount is paid by the buyer to the traveler as a simple, nonprofessional compensate. - The service fees paid to On Your Way. This amount is paid by the buyer to On Your Way in exchange for the services provided. On Your Way sets the prices
            in advance and as a flat-rate and discloses them at the time of payment. This fee of creating correspondence is subject to a goods and services tax. On Your Way reserves the right to change prices at any time. The sum of the three amounts
            described above make the total price for a transaction, payable on the day of agreement between the Buyer and the Traveler.
          </p>
          <h5>5. Payment of Benefits</h5>
          <p>
            The total amount shall be paid on the date of the agreement between the Buyer and the Traveler, as defined in Article 3 of the present General Conditions, with direct payment to On Your Way. This payment includes the amount that will be paid to the Traveler
            by the provision of the service and the commission due to On Your Way for the provided service. By accepting these terms, the traveler expressly mandates On Your Way for the execution of any operation necessary for the successful completion
            of its mandate, including, not exhaustively , receipt of funds, paying the conveyance, transfer of funds after final mission accomplishment and more generally any operation for which the intervention of On Your Way is necessary to ensure the
            speed and security of transactions and the rights of service users. 6. Customer commitments Confirmation of the purchase of the service constitutes acceptance of the present General Conditions of service, recognition of perfect and complete
            knowledge of the same and the renouncement of their own conditions of purchase. All data supplied and the registered confirmation will be valid proof of the transaction. Electronic confirmation with a double click serves as a signature and
            acceptance of the operations. On Your Way commits to communicate the registered transaction by email confirmation. It is expressly prohibited to transmit objects through the site as part of a professional activity and in no way may a User
            use the site for the purpose of carrying out a professional activity of shipping, business, or any normal trade. The User may not make use of the activity of the site for any act of normal trade either as his profession or as a source of professional
            income; professional transporters or any User who performs the activity of transport in a usual manner may not operate their business through the site. The Company declines all responsibility in this regard. It is the responsibility of each
            individual User using the service to make sure that the objects in question are not subject to specific regulation or a possible ban, as well as to comply with the regulations applicable to his/her participation in the execution of the transaction.
            If the transported object is subject to a ban in the country of reception, the User who has agreed to buy and deliver an object on behalf of another user will be solely responsible for any consequences. If the object is subject to customs
            duties, it is the Travellers responsibility to inform the buyer to include this amount into the item price before he agrees to delivery it.
          </p>
          <h5>6. Withdrawal, Reimbursement and Liability</h5>
          <p>
            Posting an ad on the On Your Way Platform doesn’t lead to any responsibilities in itself, the User can edit/erase an advertisement anytime, if there has been no agreement between a traveller and a buyer. However, the Buyer cannot exercise his/her right
            of withdrawal after the beginning of the execution of the service. The beginning of the execution of the service is defined by the moment when both the Buyer and the Traveller agree on a transaction, and the buyer confirms his/her agreement
            by paying the total sum of the transaction to On Your Way, as defined in Article 4 of the present Terms and Conditions. If after the payment the traveller informs the buyer that he/she is no longer able to buy and deliver the item, the transaction
            will be annulated and the Buyer will be refunded in full. The Company, in the process of online sales only has the responsibility as a provider of a service medium; their responsibility will not be compromised by damage resulting from the
            use of the Internet such as loss of data, hacking, virus, interruption of service or other involuntary problems. On Your Way will not be held responsible for the non-conclusion of the transaction between the Buyer and the Traveler for reasons
            other than those indicated above.
          </p>
          <h5>7. Intellectual property</h5>
          <p>
            All elements of the On Your Way site fall within the scope of their exclusive intellectual property. No one is authorized to reproduce, publish, or use for any purpose, even partially, the elements of the site, whether text, software, video, or audio.
            Any link or hyperlink is strictly prohibited without the express consent in writing granted by On Your Way.
          </p>
          <h5>8. OWNERSHIP AND USE OF TRADEMARKS</h5>
          <p>
            Those trademarks displayed on the Site are registered and unregistered trademarks owned by the Company, particularly with respect to the trademark "ON YOUR WAY" or third-party trademarks. The publication of trademarks on the Site does not constitute in
            any implicit or explicit way, a concession of use, license or authorization rights with respect to those trademarks; except where special permission is given in writing from the Company or third party, as appropriate. Any use of trademarks
            on the Site, without the prior written consent of the Company or third parties is strictly prohibited. The Company and/or third parties may take all legal measures, including actions of criminal law, to ensure compliance with its trademark
            rights. 10. Personal information Data Information containing the names of buyers may be subject to automated processes. This process will be realized by the company. The company will be able to use these data for statistical matters. It can
            be freely used by the company except for personal information. The User has the right to access, rectify and delete data concerning their personal information. The user may exercise this right by sending an e-mail to the following address:
            support@oyw.io. The user may also, for legitimate reasons, oppose the data relating to him being subjected to treatment. This treatment has been notified and authorized by CNDP authorization n°A-309/2014.
          </p>
          <h5>9. RESPONSIBILITY – THIRD PARTY LINKS</h5>
          <i>Disclaimer and exclusion of liability</i>
          <p>
            The Company disclaims any liability derived from the use, misuse or illegal use of all or part of the Site. The Company makes no guarantees regarding the Site and, more generally, in relation to the data made available on the Site. In no event shall the
            Company or any third party involved in the creation of the site, be held liable by any User of the Site, or any third party, for any direct or indirect damage that may result from using the Site, particularly when it regards the loss of programs
            or other data information by a User of the site, from any third party, except in the event of a technical incident that is entirely attributable to the Site and to the Site only. Otherwise, in cases of force majeure, the Company cannot be
            held responsible.
          </p>
          <i>Resource Guarantee</i>
          <p>
            The User makes a guarantee to the Company to use the Site in strict compliance with these Terms and Conditions and any current legislation. To this end, the User guarantees the Company against all claims, including legal costs, convictions, damages, losses,
            costs and any other expenses incurred by the Company resulting from any claim, demand, action or judgment, in any situation caused directly or indirectly by the violation of these Terms of Use or current legislation.
          </p>
          <i>Site Updates</i>
          <p>
            Despite the attention given to the site’s development and its regular updates, the Site may contain inaccuracies and/or typographical errors and/or omissions in the data presented. To improve the Site, or in relation to its maintenance (scheduled or emergency),
            the Company may find it necessary from time to time to temporarily stop the operation of the Site without first notifying the Users. The Company is not responsible for any harm caused by that maintenance.
          </p>
          <i>External links</i>
          <p>
            The Site may contain images and links to other websites or to other Internet resources, managed by third parties. The Company has no control over external sites and accepts no responsibility for their content. The Company, therefore, is not responsible
            for the spread on the Internet of data received from an unaffiliated site, or for external sites that do not work, or that work poorly, or that damage the User’s information systems. It is the responsibility of the User to comply with all
            regulations applicable to the external sites, along with their specific terms and conditions.
          </p>
          <h5>10. Archives - Proof</h5>
          <p>
            On Your Way will archive the invoices on a reliable and durable support as a true copy, in accordance with regulations. On Your Way’s records will be considered by the parties as proof of communications, transactions and payments between the parties.
          </p>
          <h5>11. Settlement of Disputes and Jurisdiction</h5>
          <p>
            These General Conditions of Sale of online services are subject to French law. In case of dispute, the jurisdiction is conferred to the courts of the city of Paris.
          </p>
          <h5>12. Customer service</h5>
          <p>
            To obtain information or file claims in relation to the access or use of the functions of the Site, the Company makes a Customer Service available to the Customer by email: support@onyourway.io or by phone: +212656525739
          </p>
          <span class="condition-padding row"></span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- /.container -->
