<div class="narrow-banner-orders ng-scope">
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>
</div>
<div class="text-center profile-body orders-block container-fluid" resize>
  <div class="col-md-2">
    <ul class="left-bar orders-left-bar shipments-left-bar" ng-show="['profile', 'orders', 'shipments'].indexOf(inherit.currentState()) > -1">
      <li role="presentation" ng-class="{active:inherit.currentState() == 'profile'}"><a ng-click="inherit.goState('profile')">Profile</a></li>
      <li role="presentation" ng-class="{active:inherit.currentState() == 'orders'}"><a ng-click="inherit.goState('orders')">Orders</a></li>
      <li role="presentation" ng-class="{active:inherit.currentState() == 'shipments'}"><a ng-click="inherit.goState('shipments')">Travels</a></li>
    </ul>
  </div>

  <div class="col-md-5">
    <div class="col-md-12">
      <p style="text-align:center;" class="lead text-center">Travels you have proposed</p>
      <div class="from-to-date" ng-repeat="shipment in local.shipments">
        <div class="col-sm-12">
          <span class="from">{{shipment.from}} - {{shipment.to}} - {{shipment.date | date : 'dd.MM.yyyy'}}</span>
          <p class="offers">You have sent {{shipment.order.message.length}} offers for this trip</p>
        </div>
        <div class="" ng-repeat="order in shipment.orders">
          <div class="col-sm-12 hover-div" ng-click="local.data_to_show = order; local.shipmen_to_show = shipment">
            <div class="col-sm-2 first-last-name text-center">
              <span class="home-table-th text-center" valign="middle">{{order.user.first_name}} {{order.user.last_name.split('')[0]}}.</span>
              <img style="width:60px; height:60px;" class="profile-photo" ng-src="{{shipment.order.photo}}" alt="">
            </div>
            <div class="col-sm-10 right-side">
              <div class="col-sm-4 home-table-structure" class="home-table-th text-center">What
                <div class="home-table-th text-center home-span1" valign="middle">{{order.item}}</div>
              </div>
              <div class="col-sm-4 home-table-structure" class="home-table-th text-center">Price
                <div class="home-table-th text-center home-span2" valign="middle">{{order.price}}$</div>
              </div>
              <div class="col-sm-4 home-table-structure" class="home-table-th text-center">Reward
                <div class="home-table-th text-center home-span3" valign="middle">{{order.reward}}$</div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="separator-gray"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5 shipmentt-details">
    <div class="main-status-travels">
      <p class="status-travels">Status:</p> <b class="main-pending">{{local.data_to_show.status.replace("_", " ")}}</b>
      <p class="lead text-center main-lead">Your offer hasn’t been accepted yet. We will notify you as soon as {{local.data_to_show.user.first_name}} accepts it.</p>
      <div class='col-md-offset-1 col-md-10 padding-top'>
        <div class="col-md-12">
          <div class="">

          </div>
          <table class="table">
            <tbody>
              <tr>
                <td style='width:90%' class="home-table-th text-center" valign="middle">
                  <textarea name="content" type="text" class="form-control" ng-model="local.new_message.text"></textarea>
                </td>
                <td class="home-table-th text-center" valign="middle">
                  <button type="button" class="btn btn-default pull-right" ng-click="sendMessage(local.data_to_show, local.shipmen_to_show)"><i class="fa fa-send">
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="table" style="table-layout:fixed;">
              <tbody>
                <tr ng-repeat="message in local.shipmen_to_show.messages" ng-show="message.order_id == local.data_to_show.id">
                  <td style='width:10%' class="home-table-th text-center" valign="middle"><img style='width:100%' class="profile-photo" ng-show="message.sender_id == inherit.user._id" ng-src="/images/nophoto.png" alt=""></td>
                  <td style='width:80%' class="home-table-th text-center" valign="middle">{{message.text}}</td>
                  <td style='width:10%' class="home-table-th text-center" valign="middle"><img style='width:100%' class="profile-photo" ng-show="message.recipient_id == inherit.user._id" ng-src="/images/nophoto.png" alt=""></td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  <div class="clearfix"></div>
</div>

<!-- <table class="table">
    <thead>
      <th class="home-table-th text-center"></th>
      <th class="home-table-th text-center">What</th>
      <th class="home-table-th text-center">From</th>
      <th class="home-table-th text-center">To</th>
      <th class="home-table-th text-center">Reward</th>
      <th class="home-table-th text-center">Price</th>
      <th class="home-table-th text-center">Quantity</th>
    </thead>
    <tbody>
      <tr>
        <td style="width:50px" class="home-table-td text-center"><img style="width:50px" class="profile-photo" ng-src="{{local.data_to_show.order.photo}}" alt="">{{local.data_to_show.order.name}}</th>
          <td class="home-table-th text-center" valign="middle">{{local.data_to_show.order.item}}</th>
            <td class="home-table-th text-center" valign="middle">{{local.data_to_show.order.from.join("/ ")}}</th>
              <td class="home-table-th text-center" valign="middle">{{local.data_to_show.order.to}}</th>
                <td class="home-table-th text-center" valign="middle">{{local.data_to_show.order.reward}}€</th>
                  <td class="home-table-th text-center" valign="middle">{{local.data_to_show.order.price}}€</th>
                    <td class="home-table-th text-center" valign="middle">{{local.data_to_show.order.quantity}}</th>
      </tr>
    </tbody>
  </table> -->
  <!-- <div class="col-md-4">
    <p class="lead text-center">Travels you have proposed</p>
    <table class="table">
      <thead>
        <th class="home-table-th text-center">From</th>
        <th class="home-table-th text-center">To</th>
        <th class="home-table-th text-center">When</th>
      </thead>
      <tbody>
        <tr ng-repeat="shipment in local.shipments" class="clickableRow">
          <td class="home-table-th text-center" valign="middle" ng-show="local.data_to_show = shipment">{{shipment.from}}</th>
            <td class="home-table-th text-center" valign="middle" ng-show="local.data_to_show = shipment">{{shipment.to}}</th>
              <td class="home-table-th text-center" valign="middle" ng-show="local.data_to_show = shipment">{{shipment.date | date : mediumDate}}</th>
        </tr>
      </tbody>
    </table>
  </div> -->
