<!-- Page Content -->
  <div class=" contact_header">
    <div class="row ">
      <div class="col-md-12 ">
        <div class="text-center contact_us">
          <h1>Contact US</h1>
        </div>
      </div>
    </div>

  <div class="result-block conditions-block contact_main col-md-12 ">
    <div class="row">
      <div class="col-md-12">
        <div class="">
          <div class="col-md-offset-1 col-md-12 "  ng-if=!contact.validated>
            <form name="contact_form">
            <div class="text-center contact_text">
              <h1>HELLO?</h1>
              <p> <strong>We are here to answer you! Get in touch by writing to <a>support@onyourway.io </a> <br>or using the form below.</strong></p>
            </div>
            <div class="pay-pal-account contact_data">
              <p class="account-bank-info">Name</p>
              <input type="text" size="20" id="contact_name" class="form-control" ng-model="contact.contact_name" required/>
              <p class="account-bank">E-mail</p>
              <input type="text" size="20"  id="contact_mail" class="form-control" ng-model="contact.contact_mail" required/>
              <p class="account-bank">Message</p>
              <textarea style="float:left;" type="text"  id="textarea_contact" size="20" class="form-control textarea_contact" ng-model="contact.contact_message" required/></textarea>
              <button type="button" class="btn btn-default payout-btn btn_send" name="button" ng-click="sendContactMessage(contact_form.$valid)">Send</button>
              <button type="button" class="btn btn-default cancel-modal-btn" name="button" ng-click="cancelContact()">Cancel</button>
            </div>
            <span class="condition-padding row"></span>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

<!-- /.container -->
