<!-- Page Content -->
    <div class="container">



        <div class="row">

                <div class="col-md-12" style="border-left: 1px solid #ddd;">
                  <div class="row" ng-show="inherit.usertype == 'traveller'">
                      <div class="search-form padding-top text-center">
                          <p class="lead text-center">Search for shopper's ads</p>

                            <form ng-submit="">
                                    <label>From:</label>                            
                                    <input ng-model="search.from" list="countries" type="text" class="form-control search-input" placeholder="Country">
                                    <datalist id="countries">
                                        <option ng-repeat="x1 in inherit.countrylist" value="{{x1}}">
                                    </datalist>
                                    <label>To:</label>                                    
                                    <input ng-change="search.to = search.to.charAt(0).toUpperCase() + search.to.slice(1);" ng-model="search.to" type="text" class="form-control search-input" placeholder="City">
                                    <button type="submit" class="btn btn-default" ng-click="local.results = filterResults()">Go</button>                                    
                            </form>

                      </div>

                  </div>

                  <div class="row padding-top">
                      <p ng-if="inherit.usertype == 'traveller'" class="lead text-center">List of shoppers</p>
                      <div class="col-md-offset-1 col-md-10">
                        <table class="table">

                              <thead>

                                <th class="home-table-th text-center"></th>
                                <th class="home-table-th text-center">What</th>
                                <th class="home-table-th text-center">From</th>
                                <th class="home-table-th text-center">To</th>
                                <th class="home-table-th text-center">When</th>
                                <th class="home-table-th text-center">Reward</th>
                                <th class="home-table-th text-center">Price</th>
                                <th class="home-table-th text-center"></th>

                              </thead>


                              <tbody ng-if="inherit.usertype == 'traveller'" >

                                <tr ng-repeat="result in local.results">

                                  <td style="width:100px" class="home-table-td text-center"><img class="profile-photo" ng-src="{{result.photo}}" alt="">{{result.name}}</th>
                                  <td class="home-table-th text-center" valign="middle">{{result.item}}</th>
                                  <td class="home-table-th text-center" valign="middle">{{result.from.join("/ ")}}</th>
                                  <td class="home-table-th text-center" valign="middle">{{result.to}}</th>
                                  <td class="home-table-th text-center" valign="middle">{{result.date | date : mediumDate}}</th>
                                  <td class="home-table-th text-center" valign="middle">{{result.reward}}€</th>
                                  <td class="home-table-th text-center" valign="middle">{{result.price}}€</th>
                                  <td class="home-table-th text-center" valign="middle"><button type="button" class="btn btn-default" ng-click="propose('traveller', result)">Propose yourself</button></td>
                                </tr>

                              </tbody>

                        </table>
                      </div>
                    </div>

                </div>

                <div class="col-md-12 register-bottom" ng-show="local.results.length == 0">
                
                    
                    <p class="lead text-center">Did not find what you were looking for?</p>
                    <div class="col-md-offset-5 col-md-2">
                        <button ng-click="inherit.goState('create')" style="display: block; width: 100%;" type="button" class="btn btn-danger large">Create you own ad</button>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <!-- /.container -->