<!-- Page Content -->
<div class="narrow-banner conditions-banner ng-scope">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <h1><b>ABOUT US</b></h1>
      </div>
    </div>
  </div>
</div>
<div class="container result-block conditions-block">
  <div class="row">
    <div class="col-md-12">
      <div class="row padding-top main-margin-block">
        <div class="col-md-offset-1 col-md-12">
          <div class="text-center conditions-head main-conditions-head">
            <h2>On Your Way SAS</h2>

              <strong>Limited Liability Company Registered Office: 12 rue Masseran, Paris <br>
                Terms and Conditions of oline Services
              </strong>

          </div>
          <i>Premable</i>
          <p>
            The terms and conditions of our online services are entered, on the one hand, between the company On Your Way SAS, whose headquarters are located at 12, Masseran St. in Paris and registered with the Trade and Companies Register
            of Paris, under the number 820757847, which is hereinafter referred to as "On Your Way" or the "The Company ".
            <br> and on the other hand,
            <br> any person intending to obtain a service through the Company website, who will hereafter be referred as the “Customer" or the “User". These provisions constitute a contractual agreement between the Customer and the Company.
          </p>
          <h5>1. Purpose</h5>
          <p>
            These sale conditions aim to define the contractual relationship between The Customer and On Your Way, the obligations of each party and the conditions applicable to any service provided on this site. The obtainment of any connection-making service provided
            by Company through this site is dependent upon an unequivocal and unconditional acceptance by the Customer to these conditions. This acceptance is deemed to begin once The Customer clicks on the checkbox titled "I accept the terms and conditions
            of On Your Way" prior to the delivery of any service. These Terms and Conditions will take precedence over any other general or special conditions not specifically approved by On Your Way. On Your Way reserves the right to amend or alter these
            Terms of Service at any time, upon which, those modified conditions will be approved by the Customer upon the purchase of a service and following receipt of the Terms and Conditions by email as a PDF document, which is downloadable via a link
            in the account activation email.
          </p>
          <h5>2. USE OF THE SITE</h5>
          <i>Accessing the contents</i>
          <p>
            The User may freely access the data contained on the Site, subject to compliance with the intellectual property rights as defined below. Whenever possible, data will be updated by the Company periodically. Errors, inaccuracies or omissions may occur along
            with connection problems or connection interruptions. The Company disclaims any responsibility to that respect. Upon creating an account, the User agrees to provide accurate and non-fraudulent information. The Company reserves the right to
            close the account of any User who does not comply with these Terms and expel any User whose conduct on the Site is fraudulent, immoral or disturbs the smooth running of the platform and connection to it by other users; or that causes damage
            to the Company and/or to other Users.
          </p>
          <h5>3. Description of services offered</h5>
          <p>
            On Your Way is a company that offers a connection-making service, through its web platform, for two categories of people: one, a traveler who (whatever their mode of transportation may be) is moving, or planning to move from point A to point B and, two,
            a buyer who would like to buy one or more tangible items and who would like to transport it/them from point A to point B. The On Your Way web platform displays online ads created by buyers. These advertisements mainly include the destination,
            the desired closing date, a description of the item, the price of the item, the price that the buyer is willing to pay for goods’ transportation, along with any other relevant information. The publication of an advertisement is free of charge
            and subjected to the conditions below. In order to benefit from the services offered through the web platform, Customer must register on the site by filling out a form detailing their personal information for this purpose. Registration is
            confirmed by clicking on the activation link, which was sent to the associated email address. Registration is open to any adult over the age of 18 who has the capacity to enter into contract. All information contained in ads is verified by
            The Company staff prior to publication. However, although the verification is carried on a formal level, following an obligation of means, On Your Way cannot be held liable for any purposefully, or erroneously, false or misleading information
            given by a The Customer who agrees, where applicable, to his/her responsibilities vis-à-vis the Company and any third parties.
            <br> When a traveller is interested in an advertisement, he/she may initiate contact via inbuilt messenger in order to agree upon logistical arrangements. Upon agreement of terms and arrangements, the two parties, via the web platform, confirm
            that the transaction will take place in compliance with the logistical arrangements made between them. The buyer shall pay the amounts due (price of the item and traveller’s reward) in accordance with the policies of Article 5 of the Terms
            of Service. Once payment is made, the traveller will receive a message in their On Your Way inbox containing a unique 10-digit code which was automatically generated by On Your Way. The code will be used later to verify the delivery between
            buyer and the traveler. The traveler will receive a random portion of the code (3 digits). At the time of delivery, the sender will relay the entire code to the traveler. The traveler must then enter the code onto The Company web platform,
            thereby verifying that the shipment was received and correct. The traveler takes all responsibility for litigation if they agree to process a shipment without receiving a code or verifying its authenticity.
          </p>          
          <span class="condition-padding row"></span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- /.container -->
