<div class="modal-header sign-up-header">
  <p ng-if="local.type == 'signup'" class="lead text-center sing-up">Sign up</p>
  <p ng-if="local.type == 'signin'" class="lead text-center sing-in">Sign in</p>
</div>
<div class="form-group text-center signup-block" ng-if="local.type == 'signup'">
  <form name="signupForm">


  <input ng-model="local.user.first_name" type="text" class="form-control search-input" placeholder="First name" required>
  <input type="text" class="form-control search-input" placeholder="Last name" ng-model="local.user.last_name" required>
  <input type="email" class="form-control search-input" ng-model="local.user.email" placeholder="Email" required>
  <input type="password" ng-model="local.user.password" class="form-control search-input" placeholder="Password" required>
  </textarea>
  <div class="has-success">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="local.user.agree" id="checkboxAgree" value="option1" required> I agree with Terms and conditions
      </label>
    </div>
  </div>

  <button class="btn btn-info signin-btn" type="button" ng-click="signup(signupForm.$valid)">Join</button>
  </form>
</div>

<div class="form-group text-center signup-block" ng-if="local.type == 'signin'">
  <input type="email" class="form-control search-input" ng-model="local.user.email" placeholder="Email">
  <input type="password" ng-model="local.user.password" class="form-control search-input" placeholder="Password">
  </textarea>
  <button class="btn btn-info signup-btn" type="button" ng-click="signin()">Sign in</button>
</div>

<div class="modal-footer text-center signup-block">
  <button class="btn btn-default" type="button" ng-click="change_type()" ng-if="local.type == 'signup'">Already have an account?</button>
  <button class="btn btn-default" type="button" ng-click="change_type()" ng-if="local.type == 'signin'">Do not have an account?</button>
</div>
