<div class="">
  <div class="narrow-banner">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h1><span>PROPOSE</span> A NEW DELIVERY</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="templateCreateblock">
  <div class="container">
    <div class="row">
      <ul class="menu text-center">
        <li class="form-block"><a  href="#form-block">Geographics</a></li>
        <li class="form-block1"><a href="#form-block1">Item description</a></li>
        <li class="form-block2"><a href="#form-block2">Price</a></li>
        <li class="form-block3"><a href="#form-block3">Summary and confirmation</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-offset-2 col-md-8">
    <div class="row" ng-if="inherit.usertype == 'shopper'">
      <div class="padding-top col-md-offset-2 col-md-8 text-center">
        <form ng-if="local.stages[0]" class="crate-form" id="form-block">
          <div class="form-group">
            <label for="departure">From</label>
            <div class="input-w">
              <my-countries anywhere="local.anywhere" tags="local.request.from" options="inherit.options" autocomplete="inherit.countrylist" ng-model="local.order.from"></my-countries>
            </div>
          </div>
          <div class="form-group">
            <label for="arrival">To</label>
            <div class="input-w">
              <input type="text" class="form-control" ng-autocomplete="inherit.result" details="inherit.details" options="inherit.options" placeholder="City" ng-model="local.order.to" />
            </div>
          </div>
          <div class="form-group">
            <label for="date">Date</label>
            <div class="input-w">
              <input ng-model="local.shipment.date" type="date" class="form-control">
            </div>
          </div>
        </form>

        <form ng-if="local.stages[1]" id="form-block1">
          <div class="form-group">
            <label for="arrival" class="item-label">What do you need to be delivered</label>
            <input type="text" class="form-control" placeholder="Iphone 8" ng-model="local.order.item">
          </div>
          <label for="" class="item-label">Item photo:</label>
          <div class="form-group">
            <div class="fileinput fileinput-new" data-provides="fileinput">
              <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">

              </div>

              <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>

              <div class="upload-img">
                <div class="upload">
                  <label for="">Choose file</label>
                  <input type="file" name="upload" fileread="local.order.base64_image" />
                </div>
                <label for="" class="label-choosen">No file choosen</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="message" class="item-label">Additional information</label>
            <textarea name="content" type="text" ng-model="local.order.message" class="form-control" placeholder="Additional information (link towards an item photo, color, size etc)"></textarea>
          </div>

        </form>

        <form ng-if="local.stages[2]" id="form-block2">
          <div class="form-group">
            <label for="arrival" class="item-label-price">Approximate price (in €)</label>
            <input type="number" class="form-control" placeholder="100" ng-model="local.order.price">
          </div>

          <div class="form-group">
            <label for="date" class="item-label-price">Quantity</label>
            <input type="number" class="form-control" ng-model="local.order.quantity" placeholder="2">
          </div>

          <div class="form-group">
            <label for="date" class="item-label-price">Reward for the traveller (in €)</label>
            <input type="number" class="form-control" ng-model="local.order.reward" placeholder="Generally between 10€ and 2% of the total order">
          </div>

        </form>
        <form ng-if="local.stages[3]" id="form-block3">
          <div class="form-group">
            <label for="arrival" class="item-label-summary">Summary</label>
            <!-- <br/> You're about to publish the following purchase order: -->
            <br/>
            <div class="padding-top">
              <span class="pull-left summary-span">From:</span><br/><span class="pull-right summary-span">{{local.order.from.join(", ")}}</span>
              <br/>
              <span class="pull-left summary-span">To:</span><br/><span class="pull-right summary-span">{{local.order.to}}</span>
              <br/>
              <span class="pull-left summary-span">Qty:</span><br/><span class="pull-right summary-span">{{local.order.quantity}}</span>
              <br/>
              <span class="pull-left  summary-span">Item:</span><br/><span class="pull-right summary-span">{{local.order.item}}</span>
              <br/> {{local.order.details}}
              <br/>
            </div>
            <div class="padding-top">
              <span class="pull-left summary-span">Total items price:</span><br /><span class="pull-right summary-span">{{local.order.price*local.order.quantity}}€</span>
              <br/>
              <span class="pull-left summary-span">Traveller's reward:</span><br /><span class="pull-right summary-span">{{local.order.reward}}€</span>
              <br/>
              <span class="pull-left summary-span">Shop'N'Ship fee:</span><br /><span class="pull-right summary-span summary-span">{{local.order.price*local.order.quantity*0.03}}€</span>
              <br/>
            </div>

            <div class="padding-top">
              <h5 class="pull-left summary-span">Total:</h5>
              <br/>
              <span style="padding-top:10px" class="pull-right summary-span">{{local.order.reward +local.order.price*local.order.quantity + local.order.price*local.order.quantity*0.03}}€</span>
              <br/>
            </div>
          </div>

        </form>


      </div>
    </div>

    <div class="row padding-top" ng-if="inherit.usertype == 'traveller'">
      <div class="padding-top col-md-offset-2 col-md-8 text-center">
        <form ng-if="local.stages[0]" id="form-block4">
          <label>From:</label>
          <input ng-model="local.shipment.from" list="countries" type="text" class="form-control" placeholder="Country">
          <datalist id="countries">
            <option ng-repeat="x1 in inherit.countrylist" value="{{x1}}">
          </datalist>
          <label>To:</label>
          <input ng-model="local.shipment.to" type="text" style="text-transform: capitalize;" class="form-control" placeholder="City">
          <label for="date">Date:</label>
          <input ng-model="local.shipment.date" type="date" class="form-control">
        </form>
      </div>
    </div>
    <div class="col-md-offset-2 col-md-8">
      <div class="row" ng-if="inherit.usertype == 'shopper'">
        <div class="row padding-top block-bottom">
          <button ng-if="!local.stages[local.stages.length-1]" ng-click="stepForward()" class="btn-next btn btn-default navigate-button pull-right">Next</button>
          <button ng-if="local.stages[local.stages.length-1] && inherit.usertype == 'shopper'" ng-click="publishOrder()" class="btn btn-default navigate-button pull-right">Publish the order</button>
          <button ng-if="local.stages[local.stages.length-1] && inherit.usertype == 'traveller'" ng-click="publishShipment()" class="btn btn-default navigate-button pull-right">Publish the travel</button>
          <button ng-if="!local.stages[local.stages.length-1]" ng-click="stepBack()" class="btn-back btn btn-default navigate-button pull-left">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>
