<!-- Page Content -->
<div class="narrow-banner ng-scope">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h1><b>Search</b> for shopper’s <b>ads</b></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center result-block">
    <div class="row">
      <div class="col-md-12" style="border-left: 1px solid #ddd;">
        <div class="row" ng-show="inherit.usertype == 'traveller'">
          <div class="search-form padding-top text-center">
          <!-- <p class="lead text-center">Search for shopper's ads</p> -->
          <form ng-submit="" id="form-block">
            <label>From:</label>
            <input ng-model="search.from" list="countries" type="text" class="form-control search-input" placeholder="Country">
            <datalist id="countries">
              <option ng-repeat="x1 in local.countrylist" value="{{x1}}">
            </datalist>
            <label>To:</label>
            <input ng-model="search.to" list="cities" type="text" class="form-control search-input" placeholder="City">
            <datalist id="cities">
              <option ng-repeat="x1 in local.citylist" value="{{x1}}">
            </datalist>
            <button type="submit" class="btn btn-default" ng-click="local.results = filterResults()">Go</button>
          </form>
          </div>
          <p class="lead text-center result-p">List of shoppers</p>
        </div>
        <div class="row padding-top">
          <p ng-if="inherit.usertype == 'traveller'" class="lead text-center">List of shoppers</p>
          <div class="col-md-offset-1 col-md-10">
            <table class="table">
              <thead>
                <th class="home-table-th text-center"></th>
                <th class="home-table-th text-center">What</th>
                <th class="home-table-th text-center">From</th>
                <th class="home-table-th text-center">To</th>
                <th class="home-table-th text-center">Reward</th>
                <th class="home-table-th text-center">Price</th>
                <th class="home-table-th text-center">Quantity</th>
                <th class="home-table-th text-center"></th>
              </thead>
              <tbody ng-if="inherit.usertype == 'traveller'" >
                <tr ng-repeat="result in local.results">
                  <td style="width:100px" class="home-table-td text-center"><img class="profile-photo" ng-src="{{result.photo}}" alt="">{{result.name}}</th>
                  <td class="home-table-th text-center" valign="middle">{{result.item}}</th>
                  <td class="home-table-th text-center" valign="middle">{{result.from.join("/ ")}}</th>
                  <td class="home-table-th text-center" valign="middle">{{result.to}}</th>
                  <td class="home-table-th text-center" valign="middle">{{result.reward}}€</th>
                  <td class="home-table-th text-center" valign="middle">{{result.price}}€</th>
                  <td class="home-table-th text-center" valign="middle">{{result.quantity}}</th>
                  <td class="home-table-th text-center" valign="middle"><button type="button" class="btn btn-default" ng-click="propose('traveller', result)"><i class="fa fa-envelope"></i></button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="text-center col-md-12 result-bottom">
       <h6>Did not find what you were looking for?</h6>
       <div class="col-md-offset-5 col-md-2 create-button">
         <button ng-click="inherit.goState('create')" style="display: block; width: 100%;" type="button" class="btn btn-custom large">Create you own ad</button>
       </div>
     </div>
    </div>
  </div>






<!-- <div class="results">


  <div class="text-center orders-block ng-scope">
    			<div class="container">
    			  <div class="row">
              <div class="col-md-12 padding-top">
                <form id="form-block" class="ng-pristine ng-valid">
                  <label>From:</label>
                  <input ng-model="local.shipment.from" list="countries" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Country">
                  <datalist id="countries">
                    <option ng-repeat="x1 in inherit.countrylist" value="{{x1}}">
                  </datalist>
                  <label>To:</label>
                  <input ng-model="local.shipment.to" type="text" style="text-transform: capitalize;" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="City">
                  <input ng-model="local.shipment.date" type="submit" value="GO" class="form-control ng-pristine ng-untouched ng-valid ng-empty">
                </form>
        				<p class="lead text-center">Items you have ordered</p>

                      <table class="table">
      			      <thead>
                    <tr><th class="home-table-th text-center"></th>
      			        <th class="home-table-th text-center">What</th>
      			        <th class="home-table-th text-center">From</th>
      			        <th class="home-table-th text-center">To</th>
                    <th class="home-table-th text-center">Reward</th>
                    <th class="home-table-th text-center">Price</th>
                    <th class="home-table-th text-center">Quantity</th>
      			      </tr></thead>
      			      <tbody>
      			        <tr ng-repeat="order in local.orders" class="clickableRow ng-scope">
                      <td class="home-table-th text-right" valign="middle" ng-click="setOrder(order)"><img ng-src="/images/images.jpg" class="table-img" alt="" src="/images/images.jpg"></td>
      			          <td class="home-table-th text-center ng-binding" valign="middle" ng-click="setOrder(order)">sss</td>
      			          <td class="home-table-th text-center ng-binding" valign="middle" ng-click="setOrder(order)"></td>
      			          <td class="home-table-th text-center ng-binding" valign="middle" ng-click="setOrder(order)"></td>
                      <td class="home-table-th text-center ng-binding" valign="middle" ng-click="setOrder(order)">4</td>
                      <td class="home-table-th text-center ng-binding" valign="middle" ng-click="setOrder(order)">9</td><td class="home-table-th text-center ng-binding" valign="middle" ng-click="setOrder(order)">5</td>
                      <td class="home-table-th text-center"><img class="btn btn-default" ng-src="/images/smart-object.png" alt="" src="/images/smart-object.png"></td>
      			        </tr>
      			      </tbody>
      				</table>
              <div class="looking-block text-center">
               <h6>Did not find what you were looking for?</h6>
               <div class="create-ad-block">
                 <a href="#">Create your own ad</a>
               </div>
             </div>
              </div>
    			  </div>
    			</div>


            <div class="col-md-6 ng-hide" ng-show="local.data_to_show &amp;&amp; !local.conversation_shipment">

          </div>
    			 <div class="col-md-7 ng-hide" ng-show="local.data_to_show &amp;&amp; local.conversation_shipment">
    				<div class="col-md-12">
    					<table class="table" style="table-layout:fixed;">
  					      <tbody>
  					      </tbody>
  					</table>
  					<table class="table">
  					      <tbody>
  						        <tr>
  						          <td style="width:90%" class="home-table-th text-center" valign="middle">
  						          		<textarea name="content" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="local.new_message.text"></textarea>
  						          </td>
  						          <td class="home-table-th text-center" valign="middle">
  						          		<button type="button" class="btn btn-default pull-right" ng-click="sendMessage(local.data_to_show, local.conversation_shipment)"><i class="fa fa-send">
  						          </i></button></td>
  						        </tr>
  					      </tbody>
  					</table>
  				</div>
  				<div class="col-md-12">
  					<table class="table">
  				      <tbody>
  				        <tr>
  				          <td class="home-table-th text-center ng-binding" valign="middle"><b>From:</b> </td>
  				          <td class="home-table-th text-center ng-binding" valign="middle"><b>To:</b> </td>
  				          <td class="home-table-th text-center ng-binding" valign="middle"><b>Date:</b> </td>
  						  <td ng-show="!(local.conversation_shipment.status == 'accepted')" class="home-table-th text-center" valign="middle "><button type="button" class="btn btn-default pull-right" ng-click="accept_travel(local.data_to_show, local.conversation_shipment)"><i class="fa fa-check"></i></button></td>
  				          <td ng-show="!(local.conversation_shipment.status == 'accepted')" class="home-table-th text-center" valign="middle"><button type="button" class="btn btn-default pull-right" ng-click="refuse_travel(local.data_to_show, local.conversation_shipment)"><i class="fa fa-times"></i></button></td>
  				          <td ng-show="local.conversation_shipment.status == 'accepted'" class="home-table-th text-center ng-hide" valign="middle ">You have accepted this travel <i class="fa fa-thumbs-up" aria-hidden="true"></i> </td>
  				        </tr>
  				      </tbody>
  					</table>
  				</div>
  			</div>
  			    <table class="table">
  			      <thead>
  			        <th class="home-table-th text-center">From</th>
  			        <th class="home-table-th text-center">To</th>
  			        <th class="home-table-th text-center">When</th>
  			        <th class="home-table-th text-center">Message</th>
  			      </thead>
  			      <tbody>
  			        <tr ng-repeat="shipment in local.data_to_show.shipments" class="clickableRow">
  			          <td class="home-table-th text-center" valign="middle" ng-click="local.data_to_show = shipment">{{shipment.from}}</th>
  			          <td class="home-table-th text-center" valign="middle" ng-click="local.data_to_show = shipment">{{shipment.to}}</th>
  			          <td class="home-table-th text-center" valign="middle" ng-click="local.data_to_show = shipment">{{shipment.date | date : mediumDate}}</th>
  			          <td class="home-table-th text-center" valign="middle" ng-click="local.data_to_show = shipment">{{shipment.message}}</th>
  			        </tr>
  			      </tbody>
  				</table>
  </div>


</div> -->



</div>
    <!-- /.container -->
