<!-- Page Content -->
<div class="narrow-banner ng-scope">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h1><strong>MAKE</strong> MONEY EACH TIME YOU <strong>TRAVEL</strong></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center result-block-home" resize>
    <div class="row">
      <div class="col-md-12">
        <div class="row" ng-show="inherit.usertype == 'traveller'">
          <div class="search-form padding-top text-center">
          <!-- <p class="lead text-center">Search for shopper's ads</p> -->
          <form ng-submit="" id="form-block">
            <label>From:</label>
            <input ng-model="search.from" list="countries" type="text" class="form-control search-input" placeholder="Country">
            <datalist id="countries">
              <option ng-repeat="x1 in local.countrylist" value="{{x1}}">
            </datalist>
            <label>To:</label>
            <input ng-model="search.to" list="cities" type="text" class="form-control search-input" placeholder="City">
            <datalist id="cities">
              <option ng-repeat="x1 in local.citylist" value="{{x1}}">
            </datalist>
            <button type="submit" class="btn btn-default" ng-click="local.results = filterResults()">Go</button>
          </form>
          </div>
        </div>
        <div class="row padding-top">
          <p ng-if="inherit.usertype == 'traveller'" class="lead text-center result-p">ORDERS AWAITING DELIVERY</p>
          <div class="col-md-offset-1 col-md-12 main-active-order">
            <table class="table">
              <thead>
                <th class="home-table-th text-center"></th>
                <th class="home-table-th text-center">What</th>
                <th class="home-table-th text-center">From</th>
                <th class="home-table-th text-center">To</th>
                <th class="home-table-th text-center">Traveler earns</th>
                <th class="home-table-th text-center">Price</th>
                <th class="home-table-th text-center">Quantity</th>
                <th class="home-table-th text-center"></th>
              </thead>
              <tbody ng-if="inherit.usertype == 'traveller'" >
                <tr ng-repeat="result in local.results | orderBy:'-date'">
                  <td class="home-table-td text-center"><img class="profile-photo" ng-src="{{result.photo}}" alt="">{{result.name}}</td>
                  <td class="home-table-th text-center" valign="middle">{{result.item}}</td>
                  <td class="home-table-th text-center" valign="middle">{{result.from}}</td>
                  <td class="home-table-th text-center" valign="middle">{{result.to}}</td>
                  <td class="home-table-th text-center" valign="middle">${{result.reward}}</td>
                  <td class="home-table-th text-center" valign="middle">${{(result.price).toFixed(2)}}</td>
                  <td class="home-table-th text-center" valign="middle">{{result.quantity}}</td>
                  <td class="home-table-th text-center" valign="middle"><button type="button" class="btn btn-default main-btn" ng-click="propose('traveller', result)"><i style="color: #11e9de;" class="fa fa-envelope"></i></button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="text-center col-md-12 result-bottom">
       <h4>No item matching your trip?</h4>
       <p class="text-center">
         We can notify you when new matching items are posted.
       </p>
       <div class="text-center create-button">
         <button ng-click="propose('traveller', false)" style="display: block;" type="button" class="btn btn-custom large">Notify me</button>
       </div>
     </div>
    </div>
  </div>



</div>
    <!-- /.container -->
