    <div class="">
        <div class="welcome-image">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h1>Your Space In My Suitcase</h1>
                            <h4>Buy anything from anywhere, even if it’s not sold online  <br>travelers will make offers to deliver it  </h4>
                                <a ng-click="inherit.usertype = 'shopper'; inherit.goState('create')" class="btn btn-default shopper-button">SHOP <span>What would you like to buy?</span> </a>
                                <a ng-click="inherit.usertype = 'traveller'; inherit.goState('results')" class="btn btn-default travaller-button">BRING <span>Make money while traveling</span></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="padding-top text-center">
                      <br>
                      <br>
                    </div>
                </div>
        </div>
      </div>
      <div class="container land-content">
        <div class="row thumbs-row">
            <div class="col-md-12">
                <div class="row padding-top">
                    <p class="lead text-center welcome-p">Buy anything from anywhere, even if it’s not sold online</p>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumb-items">
                            <img src="/images/item-images.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumb-items">
                            <img src="/images/item-images2.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumb-items">
                            <img src="/images/item-images3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
</div>
<div class="row">
    <div class="col-xs-12 how-it-works padding-top" align="left">
            <div class="how-title"> How it works</div>
            <div class="works-block container">
              <div class="row row-how">
                <div class="col-xs-1 vector-wrap">
                    <img class="how-img" src="/images/vector-smart.png">
                </div>
                <div class="col-xs-11" align="left">
                  <h3>Post your order</h3>
                  <p class="works-p">
                    Describe the item you want and add a delivery reward of your choice. <br>
                    Travelers will make offers to deliver it.
                  </p>
                </div>
              </div>
              <div class="row row-how row-how-right">
                <div class="col-xs-11 text-right" align="left">
                  <h3>Choose a traveler</h3>
                  <p class="works-p">
                    Agree on delivery details and pre-pay for your order.<br>
                    We will hold your moneysecurely until your item is delivered.
                  </p>
                </div>
                  <div class="col-xs-1 vector-wrap">
                      <img class="how-img" src="/images/vector-smart-images.png">
                  </div>
              </div>
              <div class="row row-how">
                <div class="col-xs-1 vector-wrap">
                    <img class="how-img" src="/images/vector-smart-ok.png">
                </div>
                <div class="col-xs-11" align="left">
                  <h3>Collect your item</h3>
                  <p class="works-p">
                    Meet with the traveler and pick up your item.<br>
                    We will transfer your payment to the traveler after you’ve confirmed a successful delivery.
                  </p>
                </div>
              </div>
            </div>
        </div>
</div>
<div class="row">
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumb-items">
            <img src="/images/stock-foto.png" alt="">
            <p>
              <strong>Safe transactions</strong>
              You’ll receive an immediate refund<br>
              if your item is not delivered.
            </p>
        </div>
    </div>
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumb-items">
            <img src="/images/stock-foto2.jpg" alt="">
            <p>
              <strong>Unique items</strong>
              Buy unique items that are not accessible<br/>
              locally or online.
            </p>
        </div>
    </div>
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumb-items">
            <img src="/images/stock-foto1.png" alt="">
            <p>
              <strong>Better prices</strong>
              Save on exorbitant shipping fees<br/>
              by paying our verified travelers.
            </p>
        </div>
    </div>
</div>
            </div>

        </div>
    </div>
    <!-- /.container
