<!-- Page Content -->
<div class="narrow-banner ng-scope">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <h1><b>FREQUENTLY</b> ASKED <b>QUESTIONS</b></h1>
      </div>
    </div>
  </div>
</div>
<div class="templateCreateblock">
  <div class="container">
    <div class="row">
      <ul class="menu text-center">
        <li class="form-block"><a href="#form-block">Lorem Ipsum</a></li>
        <li class="form-block1"><a href="#form-block1">Lorem Ipsum</a></li>
        <li class="form-block2"><a href="#form-block2">Lorem Ipsum</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container text-center result-block">
  <div class="row">
    <div class="col-md-12">
      <div class="row padding-top">
        <div class="col-md-offset-1 col-md-10 text-center">
          content for FAQ goes here...
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- /.container -->
