    <div class="container">

        <div class="row">
            <div class="col-md-12">

                <div class="row">

                    <div class="col-md-12">
                        <div class="welcome-image text-center">
                                <button ng-click="inherit.usertype = 'shopper'; inherit.goState('create')" class="btn btn-default shopper-button">Request a purchase</button>
                                 <button ng-click="inherit.usertype = 'traveller'; inherit.goState('results')" class="btn btn-default travaller-button">Become a travaller</button>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="padding-top text-center">
                                <button ng-click="inherit.usertype = 'traveller'; inherit.goState('results')" type="submit" class="btn btn-default big-button">Look up purchase requests</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            
                <div class="row padding-top">
                    <p class="lead text-center">Items resently delivered</p>
                </div>
                <div class="row">

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/images/obj1.jpg" alt="">
                            <div class="caption">
                                <h4 class="text-center">MacBook Pro</h4>
                                </h4>
                                <p>Delivered from US to Paris</p>
                            </div>
                            <div class="ratings">
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/images/obj2.jpg" alt="">
                            <div class="caption">
                                <h4 class="text-center">Лапша Ролтон</h4>
                                </h4>
                                <p>Delivered from Russia to London</p>
                            </div>
                            <div class="ratings">
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/images/obj3.jpeg" alt="">
                            <div class="caption">
                                <h4 class="text-center">Kittens</h4>
                                </h4>
                                <p>Cute kittens from Japan</p>
                            </div>
                            <div class="ratings">
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
</div>
<div class="row">
    <div class="col-xs-12 how-it-works padding-top" align="left">
            <div class="how-title"> How it works?</div>
                <div class="row row-how">
                  <div class="col-xs-2 col-xs-offset-2">
                      <img class="how-img" src="/images/pug.png">
                  </div>
                  <div class="col-xs-8 how-text" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                </div>
                <div class="row row-how">
                  <div class="col-xs-2 col-xs-offset-2">
                      <img src="/images/stbernard.png" class="how-img" >
                  </div>
                  <div class="col-xs-8 how-text" align="left">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</div>
                </div>
                <div class="row row-how">
                  <div class="col-xs-2 col-xs-offset-2">
                      <img class="how-img" src="/images/cocktail.png">
                  </div>
                  <div class="col-xs-8 how-text" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                </div>
                <div class="row row-how">
                  <div class="col-xs-2 col-xs-offset-2">
                      <img src="/images/chihuahua_bone.png" class="how-img" >
                  </div>
                  <div class="col-xs-8 how-text" align="left">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</div>
                </div>
        </div>
</div>
            <div class="row">
                <div class="row padding-top">
                    <p class="lead text-center">Why order with Shop'N'Ship</p>
                </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/images/boxer.png" alt="">
                            <div class="caption">
                                <h4 class="text-center">Security</h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/images/fitness.png" alt="">
                            <div class="caption">
                                <h4 class="text-center">Rapidity</h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/images/shepherd.png" alt="">
                            <div class="caption">
                                <h4 class="text-center">Etc</h4>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- /.container