<div class="narrow-banner-orders ng-scope">
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>
</div>

<div class="profile-body container-fluid orders-block text-center" resize>
  <div class="col-md-2">
    <ul class="left-bar orders-left-bar shipments-left-bar" ng-show="['profile', 'orders', 'shipments', 'payout'].indexOf(inherit.currentState()) > -1">
      <li role="presentation" ng-class="{active:inherit.currentState() == 'profile'}"><a ng-click="inherit.goState('profile')">Profile</a></li>
      <li role="presentation" ng-class="{active:inherit.currentState() == 'orders'}"><a ng-click="inherit.goState('orders')">Orders</a></li>
      <li role="presentation" ng-class="{active:inherit.currentState() == 'shipments'}"><a ng-click="inherit.goState('shipments')">Travels</a></li>
      <li role="presentation" ng-class="{active:inherit.currentState() == 'payout'}"><a ng-click="inherit.goState('payout')">Payout</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <p class="lead text-center order-lead">Items you have ordered</p>
    <table class="table orders-table">
      <thead>
        <th class="order-table-th text-left">What</th>
        <th class="order-table-th text-left">From</th>
        <th class="order-table-th text-left">Total price</th>
      </thead>
      <tbody>
        <tr ng-repeat="order in local.orders | orderBy:'-created_at'" class="clickableRow " ng-class="{activeorder: order.id == local.data_to_show.id}">
          <td class="home-table-th text-left" valign="middle" ng-click="setOrder(order)">{{order.item}}</td>
            <td class="home-table-th text-left" valign="middle" ng-click="setOrder(order)">{{order.from}}</td>
              <td class="home-table-th text-left" valign="middle" ng-click="setOrder(order)">${{(order.total_price).toFixed(2)}}</td>
        </tr>
      </tbody>
    </table>
    <!-- <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_8wIjTOAyxZ77dCJAl7mVWh04R0MAyg1t&scope=read_only
"> <img src="/images/stripe-connect.png" alt="" /> </a> -->

  </div>

  <div class="col-md-6" ng-show="local.data_to_show && !local.conversation_shipment">
    <p class="lead text-center order-lead" ng-if="local.data_to_show.shipments.length > 0 && (!!!shipment.refuses || shipment.refuses.indexOf(local.data_to_show.id) < 0 )">Delivery offers proposed for this order</p>
    <p class="lead text-center order-lead-small" ng-if="local.data_to_show.shipments.length == 0">No travel proposed for this order</p>
    <div class="text-left offers-account-div" ng-if="local.data_to_show.shipments.length > 0 && (!!!shipment.refuses || (shipment.refuses.indexOf(local.data_to_show.id) < 0 && local.data_to_show.shipments[i].refuses.length > 0)) && count_offer > 0">
      <p class="offers-account " >You have {{count_offer}} <span ng-if="count_offer == 1">offer</span> <span ng-if="count_offer > 1">offers</span></p>
    </div>
    <div ng-click="local.conversation_shipment = shipment" class="col-md-12 profile-travel offer-wrapper" ng-repeat="shipment in local.data_to_show.shipments | orderBy:'date'" ng-if="!!!shipment.refuses || shipment.refuses.indexOf(local.data_to_show.id) < 0">
      <div class="col-md-2 img-col">
        <img  style='width:85px' class="profile-photo" ng-if="shipment.user.photo != '/photos/square/missing.png'" ng-src="{{ shipment.user.photo }}" alt="">
        <img  style='width:85px' class="profile-photo" ng-if="shipment.user.photo == '/photos/square/missing.png'" ng-src="/images/nophoto.png" alt="">
        <div class="clearfix"></div>
        {{shipment.user.first_name + ' ' + shipment.user.last_name.split('')[0]}}.
      </div>
      <div class="col-md-10">
        <div class="col-md-12">
          <ul class="offer-details main-offer-details">
            <li class="col-sm-4"><span>What:</span> {{local.data_to_show.item}}</li>
            <li class="col-sm-4"><span>From:</span> {{shipment.from}}</li>
            <li class="col-sm-4"><span>Date:</span> {{shipment.date | date : mediumDate}}</li>
          </ul>
          <p class="show_message">Click to read the delivery offer and reply</p>
          <p class="offer-text text-left" ng-repeat="message in shipment.messages" ng-show="message.order_id == local.data_to_show.id">
            {{message.text}}
          </p>
        </div>
      </div>
      <div class="col-md-12 offer-buttons main-offer-buttons">
        <button type="button" class="btn btn-default pull-right" ng-click="refuse_travel(local.data_to_show, shipment)">REJECT</button>
        <button style="border-color:none;" type="button" class="btn btn-default pull-right button-themed mian-style-btn" ng-click="accept_travel(local.data_to_show, shipment)">ACCEPT</button>
      </div>
    </div>
  </div>

  <div class="col-md-6" ng-show="local.data_to_show && local.conversation_shipment">
    <div class="col-md-12">
      <p class="status-travels" >Status:</p> <b class="main-pending" ng-if="local.data_to_show.status == 'accepted'">Payment accepted</b><b class="main-pending" ng-if="local.data_to_show.status == 'delivered'">Delivered</b><b class="main-pending" ng-if="local.data_to_show.status == 'pending'">Pending</b>
      <p class="lead text-center order-lead" ng-if="local.data_to_show.status == 'accepted'">You have accepted this travel.</p>
      <p class="lead text-center order-lead" ng-if="local.data_to_show.status == 'delivered'">Thank you for shopping with On Your Way!</p>
      <table class="table">
          <tbody>
            <tr>
              <td class="home-table-th text-center table-td-from" valign="middle" ><b class="table-b">From:</b> {{local.conversation_shipment.from}}</th>
              <td class="home-table-th text-center table-td table-td-to" valign="middle"><b class="table-b">To:</b> {{local.conversation_shipment.to}}</th>
              <td class="home-table-th text-center table-td" valign="middle"><b class="table-b">Date:</b> {{local.conversation_shipment.date | date : mediumDate}}</th>
          <td style="display:none;" ng-show= "!(local.conversation_shipment.status == 'accepted')" class="home-table-th text-center" valign="middle "><button type="button" class="btn btn-default pull-right" ng-click="accept_travel(local.data_to_show, local.conversation_shipment)"><i class="fa fa-check"></i></button>
          </th>
          <td style="display:none;" ng-show="!(local.conversation_shipment.status == 'accepted')" class="home-table-th text-center" valign="middle">
            <button  type="button" class="btn btn-default pull-right" ng-click="refuse_travel(local.data_to_show, local.conversation_shipment)"><i class="fa fa-times"></i></button>
            </th>
            <td ng-show="local.conversation_shipment.status == 'accepted'" class="home-table-th text-center" valign="middle ">You have accepted this travel <i class="fa fa-thumbs-up" aria-hidden="true"></i> </th>
      </tr>

    </tbody>

  </table>
  <div class="gray-separator"></div>
  </div>
    <div class="col-md-12">
      <div class="message col-md-12 main-message" ng-repeat="message in local.conversation_shipment.messages | orderBy:'-'" ng-show="message.order_id == local.data_to_show.id">
        <div class="user-w">
          <img  style='width:100%' class="profile-photo" ng-if="message.user.photo != '/photos/square/missing.png'" ng-src="{{ message.user.photo }}" alt="">
          <img  style='width:100%' class="profile-photo" ng-if="message.user.photo == '/photos/square/missing.png'" src="/images/User_No-Frame.png" alt="">
          <span>{{message.user.first_name }} {{message.user.last_name.split('')[0]}}.</span>
        </div>
        <p class="col-sm-10" style="text-align: left; font-size:14px; color:#969696; padding-top: 20px; font-family: FaricyNew-Light;">
          {{message.text}}
        </p>

      </div>
      <table class="table">
        <tbody>
          <tr>
            <td style='width:90%' class="home-table-th text-center" valign="middle">
              <textarea name="content" type="text" class="form-control" ng-model="local.new_message.text" placeholder="Type your message..."></textarea>
            </td>
            <td class="home-table-th text-center" valign="middle">
              <button type="button" class="btn btn-default pull-right" ng-click="sendMessage(local.data_to_show, local.conversation_shipment)"><i style="color:#11e8dd;" class="fa fa-send">
						          </td>
						        </tr>
					      </tbody>
					</table>
				</div>

  </div>
  <!-- 			    <table class="table">

			      <thead>

			        <th class="home-table-th text-center">From</th>
			        <th class="home-table-th text-center">To</th>
			        <th class="home-table-th text-center">When</th>
			        <th class="home-table-th text-center">Message</th>

			      </thead>


			      <tbody>

			        <tr ng-repeat="shipment in local.data_to_show.shipments" class="clickableRow">

			          <td class="home-table-th text-center" valign="middle" ng-click="local.data_to_show = shipment">{{shipment.from}}</th>
			          <td class="home-table-th text-center" valign="middle" ng-click="local.data_to_show = shipment">{{shipment.to}}</th>
			          <td class="home-table-th text-center" valign="middle" ng-click="local.data_to_show = shipment">{{shipment.date | date : mediumDate}}</th>
			          <td class="home-table-th text-center" valign="middle" ng-click="local.data_to_show = shipment">{{shipment.message}}</th>

			        </tr>

			      </tbody>

				</table> -->


</div>
<div class="clearfix">

</div>
