<div class="modal-header main-modal-header">
  <p ng-if="local.usertype == 'traveller' && with_order" class="lead text-center">Propose to deliver</p>
  <p ng-if="local.usertype == 'traveller' && !with_order" class="lead text-center">Register my trip</p>
  <!-- <p ng-if="local.usertype == 'shopper'" class="lead text-center">Request a delivery</p> -->
</div>
<div class="main-modal-title">
  <p ng-if="!local.validated" class="modal-title">Send Message</p>
</div>
<div ng-if="!local.validated" class="modal-body main-modal-body">
  <div class="form-group main-from-group">
    <label>From:</label>
    <div class="input-w">
      <input type="text" class="form-control" options="fromOptions" g-places-autocomplete placeholder="Country" ng-model="local.shipment.from" />
    </div>
  </div>

  <div class="form-group main-to-group">
    <label for="arrival">To:</label>
    <div class="input-w">
      <input type="text" class="form-control" options="toOptions" g-places-autocomplete placeholder="City" ng-model="local.shipment.to" />
    </div>
  </div>

  <div class="form-group main-date-group date">
    <label for="date">Date:</label>
    <input type="text" id="datepicker2" class="form-control search-input main-search-input" placeholder="Click to show date" ng-model="local.shipment.date">
  </div>

  <div class="form-group main-message-group" ng-show="with_order">
    <label for="message">Message:</label>
    <textarea name="content" type="text" ng-model="local.shipment.message" class="form-control main-additional-textarea" placeholder="Additional information (max weight to deliver, reward etc...)"></textarea>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#datepicker2').datepicker({
        dateFormat: "dd/mm/yy"
      });
    });
  </script>
</div>

<!-- <div ng-if="local.usertype == 'shopper' && !local.validated" class="modal-body">

    <div class="form-group">
      <label for="arrival">What do you need to be delivered</label>
      <input type="text" class="form-control" placeholder="Iphone 8" ng-model="local.order_item">
    </div>

    <div class="form-group">
      <label for="arrival">Approximate price (in €)</label>
      <input type="number" class="form-control" placeholder="100" ng-model="local.order_price">
    </div>

    <div class="form-group">
      <label for="date">Quantity</label>
      <input type="number" class="form-control" ng-model="local.order_q" placeholder="2">
    </div>

    <div class="form-group">
      <label for="date">Reward (in €)</label>
      <input type="number" class="form-control" ng-model="local.order_reward" placeholder="Generally between 10€ and 2% of the total order">
    </div>

    <div class="form-group">
        <label for="message">Message</label>
        <textarea name="content" type="text" ng-model="local.order_message" class="form-control" placeholder="Additional information (link towards an item photo, color, size etc...)"></textarea>
    </div>

</div> -->

<div ng-if="local.validated" class="modal-body second-modal-body">

  <h5>You're about to send the following message:</h5>

  <p class="second-modal-text">Hi, I'm travelling from {{local.shipment.from.address_components[0].long_name}} to {{local.shipment.to.address_components[0].long_name}} on the {{local.shipment.date| date : mediumDate}}. {{local.shipment.message}}
  </p>

  <!-- <p ng-if = "local.usertype == 'shopper'">Hi, I need {{local.order_q}} {{local.order_item}} to be delivered from {{local.ad.from}} to {{local.ad.to}}. An approximative price would be of {{local.order_q*local.order_price}}€ and you reward would be of {{local.order_reward}}€.
{{local.order_message}}</p> -->

  <p class="second-modal-text">Looking forward to hearing from you!</p>

</div>

<div class="modal-footer main-modal-footer">
  <button class="btn btn-default cancel-modal-btn" type="button" ng-click="cancel()">Cancel</button>
  <button class="btn btn-default main-modal-btn" type="button" ng-click="ok()">OK</button>
</div>
