<div class="narrow-banner-orders ng-scope">
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
</div>

<div class="profile-body profile-body-block container-fluid" resize>
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked left-bar left-bar-profile" ng-show="['profile', 'orders', 'shipments', 'payout'].indexOf(inherit.currentState()) > -1">
      <li role="presentation" ng-class="{active:inherit.currentState() == 'profile'}"><a ng-click="inherit.goState('profile')">Profile</a></li>
      <li role="presentation" ng-class="{active:inherit.currentState() == 'orders'}"><a ng-click="inherit.goState('orders')">Orders</a></li>
      <li role="presentation" ng-class="{active:inherit.currentState() == 'shipments'}"><a ng-click="inherit.goState('shipments')">Travels</a></li>
      <li role="presentation" ng-class="{active:inherit.currentState() == 'payout'}"><a ng-click="inherit.goState('payout')">Payout</a></li>
    </ul>
  </div>
  <div class="col-md-10 text-left">
    <div class="form-group profile-block">
      <div class="fileinput fileinput-new" data-provides="fileinput">
        <div class="fileinput-new thumbnail profile-thumbnail" style="width: 200px; height: 200px;">
          <img ng-show="!!inherit.user.photo_url" ng-src="{{inherit.user.photo_url}}" alt="" />
        </div>
        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 200px;"></div>
        <div>
          <span class="btn btn-default profile-upload btn-file"><span class="fileinput-new">Upload picture</span><span class="fileinput-exists">Change</span>
          <input type="file" name="upload" fileread="inherit.user.base64_image">
          </span>
          <a class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
        </div>
      </div>
    </div>
    <!-- First Name, Last Name, Age, Sex, Country -->
    <form class="profile-form-block">
      <div class="">
        <label for="">First name</label>
        <input type="text" name="name" value="" ng-model="inherit.user.first_name">
        <br/>
        <label for="">Last name</label>
        <input type="text" name="name" value="" ng-model="inherit.user.last_name">
        <br/>
        <label for="" class="select-iam">I am</label>
        <select class="profile-select" ng-model="inherit.user.sex">
          <option value="male/fmale">Male/Female</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <br/>
        <label for="" class="birth-date">Birth date</label>
        <input type="text" id="datepicker2" name="name" placeholder="dd/mm/yy" ng-model="inherit.user.birthdate" data-provide="datepicker">
        <br/>
        <label for="" class="label-e-mail">E-mail</label>
        <input type="email" name="name" value="" ng-model="inherit.user.email">
        <br/>
        <!-- <label for="" class="label-country">Country</label>
        <input type="text" class="form-control profile-countries pull-right" options="fromOptions" placeholder="Country" ng-model="inherit.user.country" />
        <br> -->
        <div class="clearfix">

        </div>
        <button class="profile-btn btn btn-default" type="submyt" name="button" ng-click="saveProfile()">Save</button>
      </div>
    </form>
  </div>
  <script type="text/javascript">
        $(document).ready(function () {
            $('#datepicker2').datepicker({
                dateFormat: "dd/mm/yy"
              });
        });
    </script>
</div>
