<!-- Page Content -->
<div class="narrow-banner ng-scope">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <h1><b>FREQUENTLY</b> ASKED <b>QUESTIONS</b></h1>
      </div>
    </div>
  </div>
</div>
<div class="templateCreateblock">
  <div class="container">
    <div class="row">
      <ul class="menu text-center">
        <li class="form-block"><a href="#form-block">Lorem Ipsum</a></li>
        <li class="form-block1"><a href="#form-block1">Lorem Ipsum</a></li>
        <li class="form-block2"><a href="#form-block2">Lorem Ipsum</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container text-center faq-block result-block">
  <div class="row">
    <div class="col-md-12">
      <div class="row padding-top">
        <div class="col-md-offset-1 col-md-10 text-center">
          <h5>Massa vivamus pulvinar </h5>
          <p>
            Suspendisse massa quam, facilisis id bibendum at, eleifend sed ante. Maecenas id libero euismod,
            congue nibh vel, tincidunt urna. Praesent ac scelerisque diam. Cras nec blandit massa. In sed velit lacus.
            Pellentesque luctus purus nibh. Aliquam porta risus eget mauris semper, vitae porta eros pharetra.
          </p>
            <h5>Suspendisse massa</h5>
          <p>
            Vivamus pulvinar massa ac rhoncus lacinia. Proin elementum ornare urna at tempus. Nunc mi est,
            accumsan sed neque vitae, porta dictum nibh. Nam eros erat, aliquam sed magna id, malesuada
            dignissim sem. Mauris sed varius odio, vitae facilisis nunc. Duis vel tempor erat.
            Donec sodales luctus justo, vel mattis nunc laoreet quis. Mauris pretium dolor quam, non viverra
            lorem pretium id.
          </p>
            <span class="condition-padding row"></span>
          <p>
            Mauris metus enim, pulvinar in faucibus sit amet, volutpat ac arcu. Duis in diam tristique,
            blandit lectus lobortis, blandit massa. Fusce vel efficitur urna. Integer eget lorem ut erat fermentum rhoncus.
            Sed condimentum nisi eget volutpat mollis. In dolor neque, scelerisque a volutpat vitae, vehicula non tortor.
            Sed sit amet velit nibh. Aliquam erat volutpat. Curabitur et lectus ut metus blandit sollicitudin eget ut metus.
            Curabitur sit amet dolor non sapien cursus volutpat in at nisi. Vivamus leo nisl, iaculis eget eros sit amet, varius
            convallis metus. Phasellus ultrices ex leo, sit amet blandit tortor interdum sed. Vestibulum eu accumsan dolor,
            id lobortis diam.
          </p>
            <span class="condition-padding row"></span>
          <p>
            Curabitur leo est, viverra non nulla nec, ornare venenatis mi.
            Suspendisse tristique tortor nec neque dignissim, id pellentesque ante viverra. Nunc feugiat non mauris at
            cursus. Vestibulum fringilla accumsan facilisis. Ut odio neque, aliquam vitae mauris non, convallis iaculis ipsum.
            Etiam ac est quis leo mattis efficitur. Sed ligula augue, interdum in nibh in, condimentum gravida magna.
            Maecenas pellentesque erat quam, eget auctor nisl luctus sit amet. Etiam ac interdum ligula, sit amet viverra neque.
            Phasellus eleifend vel lectus nec pulvinar.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- /.container -->
