    <div class="container">

<!--             <div class="col-md-3">
                <p class="lead">Shop'N'Ship</p>
                <div class="list-group">
                  <uib-tabset justified="true">
                    <uib-tab index="0" heading="I travel" select="inherit.usertype = 'traveller'">
                        <form ng-submit="local.goSearch()">
                          <div class="form-group">
                            <label for="departure">From</label>
                            <input type="text" class="form-control" placeholder="Country">
                          </div>
                          <div class="form-group">
                            <label for="arrival">To</label>
                            <input type="text" class="form-control" placeholder="City">
                          </div>
                          <div class="form-group">
                            <label for="date">Date</label>
                            <input type="date" class="form-control">
                          </div>
                          <button type="submit" class="btn btn-default">Search</button>
                        </form>
                    </uib-tab>
                    <uib-tab index="1" heading="I shop" select="inherit.usertype = 'shopper'">
                        <form ng-submit="local.goSearch()">
                          <div class="form-group">
                            <label for="departure">From</label>
                            <input type="text" class="form-control" placeholder="Countries">
                          </div>
                          <div class="form-group">
                            <label for="arrival">To</label>
                            <input type="text" class="form-control" placeholder="City">
                          </div>
                          <button type="submit" class="btn btn-default">Search</button>
                        </form>
                    </uib-tab>
                    
                  </uib-tabset>
                </div>
            </div> -->
        <div class="row">
            <div class="col-md-12">

                <div class="row">

                    <div class="col-md-12">
                        <div class="welcome-image">
                            <div class="col-md-offset-4 col-md-4">
                                 <button class="btn btn-default shopper-button">Request a purchase</button>
                                 <button class="btn btn-default travaller-button">Become a travaller</button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="search-form padding-top">
                    <div class="row">
                        <p class="lead text-center">Look up current ads (il faut préciser ici que c'est pour les shoppers)</p>
                    </div>
                        <form ng-submit="local.goSearch()">
                              <div class="form-group col-md-offset-2 col-md-3">
                                <input type="text" class="form-control" placeholder="Countries">
                              </div>
                              <div class="form-group col-md-3">
                                <input type="text" class="form-control" placeholder="City">
                              </div>
                              <button type="submit" class="btn btn-default col-md-1">Go</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            
                <div class="row padding-top">
                    <p class="lead text-center">Items resently delivered</p>
                </div>
                <div class="row">

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/160x150" alt="">
                            <div class="caption">
                                <h4 class="text-center">MacBook Pro</h4>
                                </h4>
                                <p>Delivered from US to Paris</p>
                            </div>
                            <div class="ratings">
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/160x150" alt="">
                            <div class="caption">
                                <h4 class="text-center">Лапша Ролтон</h4>
                                </h4>
                                <p>Delivered from Russia to London</p>
                            </div>
                            <div class="ratings">
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/160x150" alt="">
                            <div class="caption">
                                <h4 class="text-center">Blah blah</h4>
                                </h4>
                                <p>Blah blah blah blah blah</p>
                            </div>
                            <div class="ratings">
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
</div>
<div class="row">
    <div class="col-xs-12 how-it-works padding-top" align="left">
            <div class="how-title"> How it works?</div>
                <div class="row row-how">
                  <div class="col-xs-2 col-xs-offset-2">
                      <img class="how-img" src="http://placehold.it/150x150">
                  </div>
                  <div class="col-xs-8 how-text" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                </div>
                <div class="row row-how">
                  <div class="col-xs-2 col-xs-offset-2">
                      <img src="http://placehold.it/150x150" class="how-img" >
                  </div>
                  <div class="col-xs-8 how-text" align="left">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</div>
                </div>
                <div class="row row-how">
                  <div class="col-xs-2 col-xs-offset-2">
                      <img class="how-img" src="http://placehold.it/150x150">
                  </div>
                  <div class="col-xs-8 how-text" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                </div>
                <div class="row row-how">
                  <div class="col-xs-2 col-xs-offset-2">
                      <img src="http://placehold.it/150x150" class="how-img" >
                  </div>
                  <div class="col-xs-8 how-text" align="left">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</div>
                </div>
        </div>
</div>
            <div class="row">
                <div class="row padding-top">
                    <p class="lead text-center">Why order with Shop'N'Ship</p>
                </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="text-center">Security</h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="text-center">Rapidity</h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="text-center">Etc</h4>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- /.container